Repository msupply-foundation/open-msupply, pull requests merged in 2023-01, with the labels that each got.

#974 #895 Prevent tab switching from losing unsaved data.
  client/packages/common/src/ui/components/navigation/Tabs/DetailTabs.tsx
  client/packages/programs/src/JsonForms/useJsonForms.tsx
  client/packages/system/src/Patient/PatientView/Footer.tsx
  client/packages/system/src/Patient/PatientView/PatientView.tsx
Labels: bug, programs

#994 #893 Select text on input focus
  client/packages/common/src/ui/components/inputs/CurrencyInput/CurrencyInput.tsx
  client/packages/common/src/ui/components/inputs/TextInput/BasicTextInput.tsx
  client/packages/common/src/ui/components/inputs/TextInput/numeric/NumericTextInput.tsx
Labels: bug, good first issue, front-end

#993 #991 Hide other tabs until patient created
  client/packages/system/src/Patient/PatientView/PatientView.tsx
Labels: enhancement, front-end

#983 972 server side event handling
  client/packages/common/src/types/schema.ts
  client/packages/programs/src/JsonForms/components/EncounterEvent.ts
  client/packages/programs/src/JsonForms/components/EventTrigger.tsx
  client/packages/programs/src/JsonForms/components/QuantityPrescribed.tsx
  client/packages/programs/src/JsonForms/useJsonForms.tsx
  client/packages/system/src/Encounter/ListView/columns.ts
  client/packages/system/src/Encounter/api/operations.generated.ts
  client/packages/system/src/Encounter/api/operations.graphql
  client/packages/system/src/Patient/ProgramEnrolment/Components/ListView.tsx
  client/packages/system/src/Patient/api/hooks/document/useProgramEnrolments.ts
  client/packages/system/src/Patient/api/operations.generated.ts
  client/packages/system/src/Patient/api/operations.graphql
  server/graphql/programs/src/mutations/update_document.rs
  server/graphql/programs/src/types/program_event.rs
  server/repository/migrations/postgres/2022-06-07T15-00_create_document_registry/up.sql
  server/repository/migrations/postgres/2022-06-07T18-00_create_program_event_table/up.sql
  server/repository/migrations/sqlite/2022-06-07T15-00_create_document_registry/up.sql
  server/repository/migrations/sqlite/2022-06-07T18-00_create_program_event_table/up.sql
  server/repository/src/db_diesel/document_registry.rs
  server/repository/src/db_diesel/document_registry_config.rs
  server/repository/src/db_diesel/document_registry_row.rs
  server/repository/src/db_diesel/mod.rs
  server/repository/src/db_diesel/program_event.rs
  server/repository/src/db_diesel/program_event_row.rs
  server/service/src/document/document_registry/insert.rs
  server/service/src/document/document_registry/tests/insert.rs
  server/service/src/programs/encounter/encounter_schema.rs
  server/service/src/programs/encounter/encounter_updated.rs
  server/service/src/programs/encounter/insert.rs
  server/service/src/programs/encounter/mod.rs
  server/service/src/programs/encounter/update.rs
  server/service/src/programs/encounter/validate_misc.rs
  server/service/src/programs/mod.rs
  server/service/src/programs/program_event.rs
  server/service/src/programs/schemas/encounter.json
  server/service/src/programs/update_program_document.rs
  server/service/src/sync/init_programs_data.rs
  server/service/src/sync/program_schemas/hiv_care_encounter.json
  server/service/src/sync/program_schemas/hiv_care_encounter_config.json
  server/service/src/sync/program_schemas/hiv_care_encounter_ui_schema.json
  server/service/src/sync/program_schemas/hiv_testing_encounter.json
  server/service/src/sync/program_schemas/routine_immunisation_3month_encounter.json
  server/service/src/sync/program_schemas/routine_immunisation_5month_encounter.json
Labels: enhancement, programs

#1011 Add KDD for Report arguments
  decisions/2023-01-11_report_arguments.md
Labels: programs

#1010 Show underlying error on login screen
  client/packages/common/src/authentication/api/api.ts
  client/packages/common/src/ui/components/errors/ErrorWithDetails.tsx
  client/packages/common/src/ui/components/popover/InfoTooltipIcon/InfoTooltipIcon.tsx
  client/packages/host/src/components/Login/Login.tsx
  server/repository/src/migrations/v1_01_01/mod.rs
Labels: bug, front-end, platform: android

#1038 Ignore name_store_join.name_is_customer/supplier in sync
  server/service/src/sync/test/test_data/name_store_join.rs
  server/service/src/sync/translations/name_store_join.rs
Labels: bug, sync v5, Priority: High

#1025 Move and remove columns
  client/packages/common/src/intl/locales/en/catalogue.json
  client/packages/common/src/intl/locales/fr/catalogue.json
  client/packages/host/src/Host.tsx
  client/packages/system/src/MasterList/DetailView/AppBarButtons.tsx
  client/packages/system/src/MasterList/DetailView/DetailView.tsx
  client/packages/system/src/MasterList/DetailView/SidePanel.tsx
  client/packages/system/src/MasterList/DetailView/Toolbar/Toolbar.tsx
  client/packages/system/src/MasterList/ListView/ListView.tsx
  client/packages/system/src/Name/ListView/ListView.tsx
Labels: good first issue, front-end

#1029 240 split stocktake adjustment
  client/packages/common/src/types/schema.ts
  server/graphql/stocktake/src/mutations/update.rs
  server/graphql/stocktake/src/stocktake_queries.rs
  server/graphql/types/src/types/invoice_query.rs
  server/graphql/types/src/types/stocktake.rs
  server/repository/src/db_diesel/invoice_row.rs
  server/repository/src/db_diesel/number_row.rs
  server/repository/src/db_diesel/stock_movement.rs
  server/repository/src/db_diesel/stocktake.rs
  server/repository/src/db_diesel/stocktake_row.rs
  server/repository/src/migrations/v1_01_01/create_indexes.rs
  server/repository/src/migrations/v1_01_01/mod.rs
  server/repository/src/migrations/v1_01_01/split_inventory_adjustment.rs
  server/service/src/invoice/validate.rs
  server/service/src/number.rs
  server/service/src/report/default_queries.rs
  server/service/src/requisition_line/chart/mod.rs
  server/service/src/stocktake/insert.rs
  server/service/src/stocktake/update.rs
  server/service/src/sync/test/test_data/invoice.rs
  server/service/src/sync/test/test_data/stocktake.rs
  server/service/src/sync/translations/invoice.rs
  server/service/src/sync/translations/stocktake.rs
Labels: sync v5

#917 Add android platform KDD
  decisions/android-framework.md
Labels: KDD

#1032 1028 stocktake UI improvements
  client/packages/common/src/hooks/useDialog/useDialog.tsx
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/ui/components/inputs/Autocomplete/AutocompleteMultiList.tsx
  client/packages/inventory/src/Stocktake/DetailView/ContentArea/columns.ts
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  client/packages/inventory/src/Stocktake/ListView/CreateStocktakeButton.tsx
  client/packages/inventory/src/Stocktake/ListView/ListView.tsx
  client/packages/inventory/src/Stocktake/api/api.ts
  client/packages/inventory/src/Stocktake/api/operations.generated.ts
  client/packages/inventory/src/Stocktake/api/operations.graphql
  client/packages/system/src/Item/Components/StockItemSelectModal/StockItemSelectModal.tsx
  server/service/src/item.rs
Labels: enhancement

#1039 #1015 Refactor Notes and other misc Array items
  client/packages/programs/src/JsonForms/common/JsonForm.tsx
  client/packages/programs/src/JsonForms/common/components/Array.tsx
  client/packages/programs/src/JsonForms/common/components/Array/EnumArray.tsx
  client/packages/programs/src/JsonForms/common/components/Array/FirstItemArray.tsx
  client/packages/programs/src/JsonForms/common/components/Array/Generic.tsx
  client/packages/programs/src/JsonForms/common/components/Array/Notes.tsx
  client/packages/programs/src/JsonForms/common/components/Array/common.tsx
  client/packages/programs/src/JsonForms/common/components/Array/index.ts
  client/packages/programs/src/JsonForms/common/components/Autocomplete.tsx
  client/packages/programs/src/JsonForms/common/components/ConditionalSelect.tsx
  client/packages/programs/src/JsonForms/common/components/DebouncedTextInput.tsx
  client/packages/programs/src/JsonForms/common/components/Select.tsx
  client/packages/programs/src/JsonForms/common/components/Text.tsx
  client/packages/programs/src/JsonForms/common/components/index.ts
  client/packages/programs/src/JsonForms/common/hooks/useDebouncedTextInput.ts
  client/packages/programs/src/JsonForms/common/hooks/useJSONFormsCustomError.ts
  client/packages/programs/src/JsonForms/common/hooks/useZodOptionsValidation.test.ts
  client/packages/programs/src/JsonForms/common/hooks/useZodOptionsValidation.ts
  client/packages/programs/src/JsonForms/common/index.ts
  client/packages/programs/src/JsonForms/components/DecisionTree/DecisionTree.tsx
  client/packages/programs/src/JsonForms/components/DecisionTree/useDecisionTreeValidation.ts
  client/packages/programs/src/JsonForms/components/IdGenerator.tsx
  client/packages/programs/src/JsonForms/components/Note.tsx
  client/packages/programs/src/JsonForms/components/index.ts
  client/packages/programs/src/JsonForms/useJsonForms.tsx
  server/service/src/sync/program_schemas/patient_ui_schema.json
Labels: programs, front-end

#992 #838 Notes component
  client/packages/common/src/authentication/AuthContext.tsx
  client/packages/common/src/intl/locales/en/programs.json
  client/packages/common/src/intl/utils/DateUtils.ts
  client/packages/programs/src/JsonForms/common/JsonForm.tsx
  client/packages/programs/src/JsonForms/common/components/Array.tsx
  client/packages/programs/src/JsonForms/common/components/Array/EnumArray.tsx
  client/packages/programs/src/JsonForms/common/components/Array/FirstItemArray.tsx
  client/packages/programs/src/JsonForms/common/components/Array/Generic.tsx
  client/packages/programs/src/JsonForms/common/components/Array/Notes.tsx
  client/packages/programs/src/JsonForms/common/components/Array/common.tsx
  client/packages/programs/src/JsonForms/common/components/Array/index.ts
  client/packages/programs/src/JsonForms/common/components/Autocomplete.tsx
  client/packages/programs/src/JsonForms/common/components/ConditionalSelect.tsx
  client/packages/programs/src/JsonForms/common/components/DebouncedTextInput.tsx
  client/packages/programs/src/JsonForms/common/components/Select.tsx
  client/packages/programs/src/JsonForms/common/components/Text.tsx
  client/packages/programs/src/JsonForms/common/components/index.ts
  client/packages/programs/src/JsonForms/common/hooks/useDebouncedTextInput.ts
  client/packages/programs/src/JsonForms/common/hooks/useJSONFormsCustomError.ts
  client/packages/programs/src/JsonForms/common/hooks/useZodOptionsValidation.test.ts
  client/packages/programs/src/JsonForms/common/hooks/useZodOptionsValidation.ts
  client/packages/programs/src/JsonForms/common/index.ts
  client/packages/programs/src/JsonForms/components/DecisionTree/DecisionTree.tsx
  client/packages/programs/src/JsonForms/components/DecisionTree/useDecisionTreeValidation.ts
  client/packages/programs/src/JsonForms/components/IdGenerator.tsx
  client/packages/programs/src/JsonForms/components/index.ts
  client/packages/programs/src/JsonForms/useJsonForms.tsx
  server/service/src/programs/schemas/patient.json
  server/service/src/sync/init_programs_data.rs
  server/service/src/sync/program_schemas/hiv_care_program.json
  server/service/src/sync/program_schemas/patient.json
  server/service/src/sync/program_schemas/patient_ui_schema.json
Labels: programs

#1036 Move the encounter API to the programs package
  client/README.md
  client/packages/programs/src/Components/DocumentHistory.tsx
  client/packages/programs/src/api/api.ts
  client/packages/programs/src/api/hooks/document/index.ts
  client/packages/programs/src/api/hooks/document/useDocumentHistory.ts
  client/packages/programs/src/api/hooks/document/useEncounterById.ts
  client/packages/programs/src/api/hooks/document/useEncounterRegistriesByPrograms.ts
  client/packages/programs/src/api/hooks/document/useEncounters.ts
  client/packages/programs/src/api/hooks/document/useInsertEncounter.ts
  client/packages/programs/src/api/hooks/document/useUpdateEncounter.ts
  client/packages/programs/src/api/hooks/document/useUpsertEncounter.ts
  client/packages/programs/src/api/hooks/index.ts
  client/packages/programs/src/api/hooks/utils/useDocumentApi.ts
  client/packages/programs/src/api/hooks/utils/useDocumentRegistryApi.ts
  client/packages/programs/src/api/hooks/utils/useEncounterApi.ts
  client/packages/programs/src/api/operations.generated.ts
  client/packages/programs/src/api/operations.graphql
  client/packages/system/src/Encounter/DetailView/DetailView.tsx
  client/packages/system/src/Encounter/DetailView/Toolbar.tsx
  client/packages/system/src/Encounter/ListView/ListView.tsx
  client/packages/system/src/Encounter/ListView/columns.ts
  client/packages/system/src/Encounter/api/api.ts
  client/packages/system/src/Encounter/api/hooks/document/index.ts
  client/packages/system/src/Encounter/api/hooks/document/useEncounter.ts
  client/packages/system/src/Encounter/api/hooks/document/useEncounters.ts
  client/packages/system/src/Encounter/api/hooks/index.ts
  client/packages/system/src/Encounter/api/hooks/registry/index.ts
  client/packages/system/src/Encounter/api/hooks/registry/useRegistryByProgram.ts
  client/packages/system/src/Encounter/api/hooks/utils/index.ts
  client/packages/system/src/Encounter/api/hooks/utils/useEncounterApi.ts
  client/packages/system/src/Encounter/api/hooks/utils/useEncounterId.ts
  client/packages/system/src/Encounter/api/index.ts
  client/packages/system/src/Encounter/api/operations.generated.ts
  client/packages/system/src/Encounter/api/operations.graphql
  client/packages/system/src/Encounter/index.ts
  client/packages/system/src/Encounter/utils.ts
  client/packages/system/src/Patient/Encounter/CreateEncounterModal.tsx
  client/packages/system/src/Patient/Encounter/EncounterSearchInput.tsx
  client/packages/system/src/Patient/Encounter/ListView.tsx
  client/packages/system/src/Patient/api/api.ts
  client/packages/system/src/Patient/api/hooks/document/index.ts
  client/packages/system/src/Patient/api/hooks/document/useEncounters.ts
  client/packages/system/src/Patient/api/hooks/index.ts
  client/packages/system/src/Patient/api/hooks/utils/usePatientApi.ts
  client/packages/system/src/Patient/api/operations.generated.ts
  client/packages/system/src/Patient/api/operations.graphql
Labels: programs

#1034 Move the program enrolments API to the programs package
  client/README.md
  client/packages/programs/src/Components/DocumentHistory.tsx
  client/packages/programs/src/api/api.ts
  client/packages/programs/src/api/hooks/document/index.ts
  client/packages/programs/src/api/hooks/document/useDocumentHistory.ts
  client/packages/programs/src/api/hooks/document/useEncounterById.ts
  client/packages/programs/src/api/hooks/document/useEncounterRegistriesByPrograms.ts
  client/packages/programs/src/api/hooks/document/useEncounters.ts
  client/packages/programs/src/api/hooks/document/useInsertEncounter.ts
  client/packages/programs/src/api/hooks/document/useInsertProgramEnrolment.ts
  client/packages/programs/src/api/hooks/document/useUpdateEncounter.ts
  client/packages/programs/src/api/hooks/document/useUpdateProgramEnrolment.ts
  client/packages/programs/src/api/hooks/document/useUpsertEncounter.ts
  client/packages/programs/src/api/hooks/index.ts
  client/packages/programs/src/api/hooks/utils/useDocumentApi.ts
  client/packages/programs/src/api/hooks/utils/useDocumentRegistryApi.ts
  client/packages/programs/src/api/hooks/utils/useEncounterApi.ts
  client/packages/programs/src/api/operations.generated.ts
  client/packages/programs/src/api/operations.graphql
  client/packages/system/src/Encounter/DetailView/DetailView.tsx
  client/packages/system/src/Encounter/DetailView/Toolbar.tsx
  client/packages/system/src/Encounter/ListView/ListView.tsx
  client/packages/system/src/Encounter/ListView/columns.ts
  client/packages/system/src/Encounter/api/api.ts
  client/packages/system/src/Encounter/api/hooks/document/index.ts
  client/packages/system/src/Encounter/api/hooks/document/useEncounter.ts
  client/packages/system/src/Encounter/api/hooks/document/useEncounters.ts
  client/packages/system/src/Encounter/api/hooks/index.ts
  client/packages/system/src/Encounter/api/hooks/registry/index.ts
  client/packages/system/src/Encounter/api/hooks/registry/useRegistryByProgram.ts
  client/packages/system/src/Encounter/api/hooks/utils/index.ts
  client/packages/system/src/Encounter/api/hooks/utils/useEncounterApi.ts
  client/packages/system/src/Encounter/api/hooks/utils/useEncounterId.ts
  client/packages/system/src/Encounter/api/index.ts
  client/packages/system/src/Encounter/api/operations.generated.ts
  client/packages/system/src/Encounter/api/operations.graphql
  client/packages/system/src/Encounter/index.ts
  client/packages/system/src/Encounter/utils.ts
  client/packages/system/src/Patient/Encounter/CreateEncounterModal.tsx
  client/packages/system/src/Patient/Encounter/EncounterSearchInput.tsx
  client/packages/system/src/Patient/Encounter/ListView.tsx
  client/packages/system/src/Patient/ProgramEnrolment/Components/DetailModal.tsx
  client/packages/system/src/Patient/ProgramEnrolment/api/api.ts
  client/packages/system/src/Patient/ProgramEnrolment/api/hooks/document/index.ts
  client/packages/system/src/Patient/ProgramEnrolment/api/hooks/index.ts
  client/packages/system/src/Patient/ProgramEnrolment/api/hooks/utils/index.ts
  client/packages/system/src/Patient/ProgramEnrolment/api/hooks/utils/useProgramEnrolmentApi.ts
  client/packages/system/src/Patient/ProgramEnrolment/api/index.ts
  client/packages/system/src/Patient/ProgramEnrolment/api/operations.generated.ts
  client/packages/system/src/Patient/ProgramEnrolment/api/operations.graphql
  client/packages/system/src/Patient/api/api.ts
  client/packages/system/src/Patient/api/hooks/document/index.ts
  client/packages/system/src/Patient/api/hooks/document/useEncounters.ts
  client/packages/system/src/Patient/api/hooks/index.ts
  client/packages/system/src/Patient/api/hooks/utils/usePatientApi.ts
  client/packages/system/src/Patient/api/operations.generated.ts
  client/packages/system/src/Patient/api/operations.graphql
Labels: programs

#1053 1014 patient search query
  server/graphql/general/src/queries/names.rs
  server/graphql/general/src/queries/tests/names.rs
  server/graphql/programs/src/queries/patient.rs
  server/repository/src/db_diesel/item.rs
  server/repository/src/db_diesel/name.rs
  server/repository/src/db_diesel/program_enrolment_row.rs
  server/repository/src/diesel_macros.rs
  server/repository/src/mock/test_name_query.rs
  server/service/src/programs/patient/query.rs
Labels: programs

#1030 1027 report arguments
  client/packages/common/src/types/schema.ts
  client/packages/inventory/src/Stocktake/DetailView/AppBarButtons.tsx
  client/packages/invoices/src/InboundShipment/DetailView/AppBarButtons.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/AppBarButtons.tsx
  client/packages/requisitions/src/RequestRequisition/DetailView/AppBarButtons/AppBarButtons.tsx
  client/packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons/AppBarButtons.tsx
  client/packages/system/src/Patient/PatientView/AppBarButtons.tsx
  client/packages/system/src/Report/api/api.ts
  client/packages/system/src/Report/api/hooks/document/useReports.ts
  client/packages/system/src/Report/api/hooks/utils/usePrintReport.ts
  client/packages/system/src/Report/api/operations.generated.ts
  client/packages/system/src/Report/api/operations.graphql
  client/packages/system/src/Report/components/ReportArgumentsModal.tsx
  client/packages/system/src/Report/components/ReportSelector.tsx
  server/Cargo.lock
  server/graphql/Cargo.toml
  server/graphql/form_schema/Cargo.toml
  server/graphql/form_schema/src/insert_form_schema.rs
  server/graphql/form_schema/src/lib.rs
  server/graphql/form_schema/src/query_form_schema.rs
  server/graphql/lib.rs
  server/graphql/programs/src/lib.rs
  server/graphql/programs/src/mutations/mod.rs
  server/graphql/programs/src/queries/mod.rs
  server/graphql/programs/src/types/document.rs
  server/graphql/programs/src/types/mod.rs
  server/graphql/reports/src/lib.rs
  server/graphql/reports/src/printing.rs
  server/graphql/reports/src/reports.rs
  server/graphql/types/src/types/json_schema.rs
  server/graphql/types/src/types/mod.rs
  server/report_builder/README.md
  server/report_builder/example_arguments/query.graphql
  server/report_builder/example_arguments/style.css
  server/report_builder/example_arguments/template.html
  server/report_builder/src/cli.rs
  server/report_builder/src/lib.rs
  server/report_builder/src/print.rs
  server/repository/migrations/postgres/2023-01-16T10-00_report_secondary_context_and_arg_schema_v1.0.5/up.sql
  server/repository/migrations/sqlite/2023-01-16T10-00_report_secondary_context_and_arg_schema_v1.0.5/up.sql
  server/repository/src/db_diesel/form_schema_row.rs
  server/repository/src/db_diesel/report.rs
  server/repository/src/db_diesel/report_row.rs
  server/service/src/report/definition.rs
  server/service/src/report/report_service.rs
  server/service/src/sync/init_programs_data.rs
  server/service/src/sync/program_schemas/demo_arg_schema.json
  server/service/src/sync/program_schemas/demo_arg_ui_schema.json
  server/service/src/sync/program_schemas/demo_patient_report.json
  server/service/src/sync/test/test_data/report.rs
  server/service/src/sync/translations/report.rs
Labels: programs

#1084 Update Create Shipment message
  client/packages/common/src/intl/locales/en/distribution.json
  client/packages/common/src/ui/components/modals/AlertModal/AlertModalProvider.tsx
  client/packages/requisitions/src/ResponseRequisition/DetailView/AppBarButtons/CreateShipmentButton.tsx
Labels: bug

#1076 #870 stocktake reasons 01
  server/graphql/stocktake_line/src/mutations/insert.rs
  server/graphql/stocktake_line/src/mutations/update.rs
  server/repository/src/db_diesel/changelog/changelog.rs
  server/repository/src/db_diesel/inventory_adjustment_reason.rs
  server/repository/src/db_diesel/inventory_adjustment_reason_row.rs
  server/repository/src/db_diesel/invoice_line_row.rs
  server/repository/src/db_diesel/mod.rs
  server/repository/src/db_diesel/stocktake_line_row.rs
  server/repository/src/migrations/v1_01_01/mod.rs
  server/repository/src/migrations/v1_01_02/mod.rs
  server/repository/src/mock/invoice_line.rs
  server/repository/src/mock/mod.rs
  server/repository/src/mock/stocktake_line.rs
  server/repository/src/mock/test_outbound_shipment_update.rs
  server/repository/src/mock/test_requisition_queries.rs
  server/repository/src/mock/test_requisition_service.rs
  server/repository/src/mock/test_unallocated_line.rs
  server/repository/src/tests.rs
  server/service/src/invoice/inbound_shipment/generate.rs
  server/service/src/invoice/inbound_shipment/update/generate.rs
  server/service/src/invoice/outbound_shipment/generate.rs
  server/service/src/invoice_line/inbound_shipment_line/insert/generate.rs
  server/service/src/invoice_line/inbound_shipment_service_line/insert/generate.rs
  server/service/src/invoice_line/outbound_shipment_line/insert/generate.rs
  server/service/src/invoice_line/outbound_shipment_line/update/generate.rs
  server/service/src/invoice_line/outbound_shipment_service_line/insert/generate.rs
  server/service/src/invoice_line/outbound_shipment_unallocated_line/insert.rs
  server/service/src/processors/transfer/shipment/common.rs
  server/service/src/requisition/response_requisition/create_requisition_shipment/generate.rs
  server/service/src/stocktake/update.rs
  server/service/src/stocktake_line/insert.rs
  server/service/src/stocktake_line/update.rs
  server/service/src/stocktake_line/validate.rs
  server/service/src/sync/sync_buffer.rs
  server/service/src/sync/test/mod.rs
  server/service/src/sync/test/test_data/inventory_adjustment_reason.rs
  server/service/src/sync/test/test_data/invoice_line.rs
  server/service/src/sync/test/test_data/mod.rs
  server/service/src/sync/test/test_data/stocktake_line.rs
  server/service/src/sync/translation_and_integration.rs
  server/service/src/sync/translations/inventory_adjustment_reason.rs
  server/service/src/sync/translations/invoice_line.rs
  server/service/src/sync/translations/mod.rs
  server/service/src/sync/translations/stocktake_line.rs
Labels: enhancement

#1079 870 stocktake reasons part 02
  server/graphql/core/src/loader/inventory_adjustment_reason.rs
  server/graphql/core/src/loader/loader_registry.rs
  server/graphql/core/src/loader/mod.rs
  server/graphql/general/src/lib.rs
  server/graphql/general/src/queries/inventory_adjustment_reason.rs
  server/graphql/general/src/queries/mod.rs
  server/graphql/types/src/types/inventory_adjustment_reason.rs
  server/graphql/types/src/types/mod.rs
  server/graphql/types/src/types/stocktake_line.rs
  server/service/src/auth.rs
  server/service/src/inventory_adjustment_reason.rs
  server/service/src/lib.rs
Labels: enhancement

#1086 1049 duplicate stock lines created when received in an inbound shipment
  server/repository/src/db_diesel/invoice_line_row.rs
  server/service/src/invoice/inbound_shipment/update/mod.rs
Labels: bug, Priority: High

#929 Add draft KDD for patient and program sync/transfers
  decisions/2022-12-12_patient_and_program_transfer.md
Labels: KDD

#1100 Rename document owner to owner_name_id
  server/graphql/programs/src/mutations/update_document.rs
  server/repository/migrations/postgres/2022-04-27T13-00_create_document_table/up.sql
  server/repository/migrations/sqlite/2022-04-27T13-00_create_document_table/up.sql
  server/repository/src/db_diesel/document.rs
  server/repository/src/mock/document.rs
  server/service/src/document/document_service.rs
  server/service/src/document/raw_document.rs
  server/service/src/programs/encounter/insert.rs
  server/service/src/programs/encounter/update.rs
  server/service/src/programs/patient/update.rs
  server/service/src/programs/program_enrolment/upsert.rs
Labels: programs, Priority: High

#1104 Fix schema to fix the patient creation
  server/service/src/programs/patient/patient_updated.rs
  server/service/src/programs/schemas/patient.json
  server/service/src/sync/init_programs_data.rs
  server/service/src/sync/program_schemas/patient.json
Labels: bug, programs, Priority: High

#1105 Fix patient encounter query
  client/packages/system/src/Patient/Encounter/ListView.tsx
Labels: bug, programs

#1099 Fix debounced text input
  client/packages/programs/src/JsonForms/common/components/Array/Notes.tsx
  client/packages/programs/src/JsonForms/common/components/Text.tsx
  client/packages/programs/src/JsonForms/common/hooks/useDebouncedTextInput.ts
  client/packages/programs/src/JsonForms/components/IdGenerator.tsx
  server/service/src/programs/patient/patient_updated.rs
  server/service/src/programs/schemas/patient.json
  server/service/src/sync/init_programs_data.rs
  server/service/src/sync/program_schemas/patient.json
Labels: bug, programs, Priority: High
