Repository msupply-foundation/open-msupply, pull requests merged in 2025-08, with the labels that each got.

#8601 8242 update mutation for po fields
  server/graphql/purchase_order/src/lib.rs
  server/graphql/purchase_order/src/mutations/mod.rs
  server/graphql/purchase_order/src/mutations/update.rs
  server/graphql/purchase_order_line/src/purchase_order_line_queries.rs
  server/graphql/types/src/types/purchase_order.rs
  server/repository/src/db_diesel/purchase_order_row.rs
  server/repository/src/migrations/v2_10_00/add_supplier_discount_percentage_to_purchase_order.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/service/src/purchase_order/insert/validate.rs
  server/service/src/purchase_order/mod.rs
  server/service/src/purchase_order/update/generate.rs
  server/service/src/purchase_order/update/mod.rs
  server/service/src/purchase_order/update/test.rs
  server/service/src/purchase_order/update/validate.rs
  server/service/src/sync/test/test_data/purchase_order.rs
  server/service/src/sync/translations/purchase_order.rs
Labels: Team Piwakawaka, Purchase Orders

#8616 8249 front end po update hook and ui
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/common/src/utils/formatters/formatters.ts
  client/packages/purchase_orders/src/DetailView/AppBarButtons/AppBarButtons.tsx
  client/packages/purchase_orders/src/DetailView/DetailView.tsx
  client/packages/purchase_orders/src/DetailView/SidePanel/DateSection.tsx
  client/packages/purchase_orders/src/DetailView/SidePanel/OtherSection.tsx
  client/packages/purchase_orders/src/DetailView/SidePanel/SidePanel.tsx
  client/packages/purchase_orders/src/DetailView/SidePanel/SupplierDetailSection.tsx
  client/packages/purchase_orders/src/DetailView/SidePanel/index.ts
  client/packages/purchase_orders/src/DetailView/Toolbar.tsx
  client/packages/purchase_orders/src/ListView/AppBarButtons.tsx
  client/packages/purchase_orders/src/api/hooks/usePurchaseOrder.ts
  client/packages/purchase_orders/src/api/operations.generated.ts
  client/packages/purchase_orders/src/api/operations.graphql
  client/packages/system/src/Currency/Components/CurrencyAutocomplete.tsx
  client/packages/system/src/Currency/Components/CurrencySearchInput.tsx
  client/packages/system/src/Currency/Components/index.ts
  server/graphql/types/src/types/purchase_order.rs
Labels: Team Piwakawaka, Purchase Orders

#8695 Fix shipped_number_or_packs migration
  server/repository/src/migrations/mod.rs
  server/repository/src/migrations/v2_09_00/add_shipped_number_of_packs_to_invoice_line.rs
  server/repository/src/migrations/v2_09_00/add_shipped_number_of_packs_to_invoice_line_legacy.rs
  server/repository/src/migrations/v2_09_00/mod.rs
Labels: Team Piwakawaka, Severity: High, Needs Investigation

#8648 8042 UI ux pt 5
  client/packages/invoices/src/OutboundShipment/DetailView/ExpandoTable.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/Allocation.tsx
  client/packages/invoices/src/Prescriptions/LineEditView/PrescriptionLineEditForm.tsx
  client/packages/invoices/src/Prescriptions/LineEditView/hooks/useClosedSummary.ts
  client/packages/invoices/src/StockOut/Components/AllocateInSelector.tsx
  client/packages/system/src/Item/Components/StockItemSearchInput/StockItemSearchInput.tsx
Labels: Priority: Must Have, Team Ruru 🦉, UI tweaks

#8699 8688 Find ledger discrepancies
  server/repository/src/db_diesel/mod.rs
  server/repository/src/db_diesel/stock_line.rs
  server/repository/src/db_diesel/stock_line_ledger_discrepancy.rs
  server/repository/src/migrations/views/mod.rs
  server/service/src/ledger_fix/find_ledger_discrepancies.rs
  server/service/src/ledger_fix/ledger_fix_driver.rs
  server/service/src/ledger_fix/mod.rs
Labels: enhancement, area: ledger

#8719 8654 Stop updates of owned records in sync
  server/repository/src/migrations/v2_09_02/mod.rs
  server/service/src/ledger_fix/ledger_fix_driver.rs
  server/service/src/processors/transfer/invoice/update_outbound_invoice_status.rs
  server/service/src/sync/translations/invoice.rs
Labels: Severity: High

#8686 Stock volume part 2
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/intl/locales/fr/common.json
  client/packages/common/src/types/schema.ts
  client/packages/common/src/ui/layout/tables/components/Cells/RadioCell.tsx
  client/packages/system/src/Item/Components/ItemVariantSelector/ItemVariantInput.tsx
  client/packages/system/src/Item/Components/ItemVariantSelector/ItemVariantSelector.tsx
  client/packages/system/src/Item/Components/ItemVariantSelector/columns.tsx
  client/packages/system/src/Stock/Components/StockLineForm.tsx
  client/packages/system/src/Stock/api/hooks/useStockLine.ts
  client/packages/system/src/Stock/api/operations.generated.ts
  client/packages/system/src/Stock/api/operations.graphql
  server/graphql/inventory_adjustment/mutations/insert.rs
  server/graphql/stock_line/src/mutations/insert.rs
  server/graphql/stock_line/src/mutations/update.rs
  server/graphql/types/src/types/activity_log.rs
  server/graphql/types/src/types/stock_line.rs
  server/repository/src/db_diesel/activity_log_row.rs
  server/repository/src/migrations/v2_10_00/add_activity_log_volume_per_pack_changed.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/service/src/invoice/inventory_adjustment/add_new_stock_line/generate.rs
  server/service/src/invoice/inventory_adjustment/add_new_stock_line/insert.rs
  server/service/src/invoice/inventory_adjustment/adjust_existing_stock/generate.rs
  server/service/src/repack/generate.rs
  server/service/src/repack/insert.rs
  server/service/src/stock_line/tests/update.rs
  server/service/src/stock_line/update.rs
Labels: enhancement, Team Ruru 🦉, docs: external, area: stock

#8707 8635 goods received line sync
  server/cli/src/refresh_dates.rs
  server/repository/src/db_diesel/changelog/changelog.rs
  server/repository/src/db_diesel/goods_received_line_row.rs
  server/repository/src/db_diesel/mod.rs
  server/repository/src/migrations/v2_10_00/add_goods_received_line_table.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/service/src/sync/test/test_data/goods_received.rs
  server/service/src/sync/test/test_data/goods_received_line.rs
  server/service/src/sync/test/test_data/mod.rs
  server/service/src/sync/translations/goods_received.rs
  server/service/src/sync/translations/goods_received_line.rs
  server/service/src/sync/translations/mod.rs
Labels: enhancement, Team Piwakawaka, Purchase Orders

#8727 8723 sync closed vial wastage reasons
  server/graphql/types/src/types/reason_option.rs
  server/repository/src/db_diesel/reason_option_row.rs
  server/repository/src/migrations/v2_10_00/add_closed_vial_wastage_reason_option_type.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/service/src/sync/test/test_data/reason.rs
  server/service/src/sync/translations/reason.rs
Labels: Team Ruru 🦉, area: vvm status

#8638 8250 add from master list split button
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/purchase_orders/src/DetailView/AppBarButtons/AddButton.tsx
  client/packages/purchase_orders/src/DetailView/AppBarButtons/AddFromMasterListButton.tsx
  client/packages/purchase_orders/src/DetailView/AppBarButtons/AppBarButtons.tsx
  client/packages/purchase_orders/src/DetailView/LineEdit/utils.ts
  client/packages/purchase_orders/src/api/hooks/usePurchaseOrder.ts
  client/packages/purchase_orders/src/api/hooks/usePurchaseOrderLine.ts
  client/packages/purchase_orders/src/api/operations.generated.ts
  client/packages/purchase_orders/src/api/operations.graphql
  client/packages/purchase_orders/src/utils.ts
  server/graphql/core/src/simple_generic_errors.rs
  server/graphql/purchase_order/src/lib.rs
  server/graphql/purchase_order/src/mutations/add_from_master_list.rs
  server/graphql/purchase_order/src/mutations/mod.rs
  server/repository/src/mock/purchase_order.rs
  server/service/src/purchase_order/add_to_purchase_order_from_master_list.rs
  server/service/src/purchase_order/common.rs
  server/service/src/purchase_order/generate.rs
  server/service/src/purchase_order/mod.rs
  server/service/src/purchase_order/validate.rs
Labels: Team Piwakawaka, Purchase Orders

#8742 Revert "Add feature flag"
  client/packages/config/src/config.ts
  client/packages/host/src/components/Navigation/ReplenishmentNav.tsx
  client/packages/host/webpack.config.js
Labels: enhancement, Team Piwakawaka

#8725 Add authorised sync
  server/service/src/sync/test/test_data/purchase_order.rs
  server/service/src/sync/translations/purchase_order.rs
Labels: Team Piwakawaka, Purchase Orders

#8734 8611 rename vvm status level to priority
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/common/src/utils/arrays/SortUtils.test.ts
  client/packages/common/src/utils/arrays/SortUtils.ts
  client/packages/invoices/src/InboundShipment/api/operations.generated.ts
  client/packages/invoices/src/InboundShipment/api/operations.graphql
  client/packages/invoices/src/Prescriptions/api/operations.generated.ts
  client/packages/invoices/src/Prescriptions/api/operations.graphql
  client/packages/invoices/src/StockOut/api/operations.generated.ts
  client/packages/invoices/src/StockOut/api/operations.graphql
  client/packages/system/src/Item/api/operations.generated.ts
  client/packages/system/src/Item/api/operations.graphql
  client/packages/system/src/Stock/Components/StatusHistory/useStatusHistoryColumns.ts
  client/packages/system/src/Stock/Components/VVMStatusSearchInput/VVMStatusSearchInput.tsx
  client/packages/system/src/Stock/api/operations.generated.ts
  client/packages/system/src/Stock/api/operations.graphql
  server/graphql/types/src/types/vvm_status.rs
  server/repository/src/db_diesel/stock_line.rs
  server/repository/src/db_diesel/vvm_status/vvm_status_row.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/repository/src/migrations/v2_10_00/rename_vvm_status_level_to_priority.rs
  server/repository/src/mock/vvm_status.rs
  server/service/src/sync/test/test_data/vvm_status.rs
  server/service/src/sync/translations/vvm_status.rs
  server/service/src/vvm/vvm_status_log/insert/test.rs
Labels: enhancement, Priority: Should Have, Team Ruru 🦉, area: vvm status

#8746 7893 edit/set campaign during stocktake
  client/packages/common/src/types/schema.ts
  client/packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks/useStocktakeLineEdit.ts
  client/packages/inventory/src/Stocktake/api/api.ts
  client/packages/inventory/src/Stocktake/api/operations.generated.ts
  client/packages/inventory/src/Stocktake/api/operations.graphql
  client/packages/system/src/Stock/Components/Campaign/CampaignOrProgramSelectorColumn.tsx
  server/graphql/stocktake/src/mutations/update.rs
  server/graphql/stocktake_line/src/mutations/insert.rs
  server/graphql/stocktake_line/src/mutations/update.rs
  server/graphql/types/src/types/stocktake_line.rs
  server/repository/src/db_diesel/stocktake_line_row.rs
  server/repository/src/migrations/v2_10_00/add_campaign_and_program_to_stocktake_line.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/repository/src/mock/stocktake_line.rs
  server/service/src/campaign/mod.rs
  server/service/src/common.rs
  server/service/src/invoice/inventory_adjustment/add_new_stock_line/validate.rs
  server/service/src/invoice/inventory_adjustment/adjust_existing_stock/validate.rs
  server/service/src/invoice/outbound_shipment/insert/mod.rs
  server/service/src/invoice_line/stock_out_line/insert/generate.rs
  server/service/src/lib.rs
  server/service/src/repack/validate.rs
  server/service/src/rnr_form/insert.rs
  server/service/src/rnr_form/mod.rs
  server/service/src/rnr_form/validate.rs
  server/service/src/stock_line/update.rs
  server/service/src/stocktake/insert/generate.rs
  server/service/src/stocktake/update/generate.rs
  server/service/src/stocktake_line/insert/generate.rs
  server/service/src/stocktake_line/insert/mod.rs
  server/service/src/stocktake_line/insert/validate.rs
  server/service/src/stocktake_line/update/generate.rs
  server/service/src/stocktake_line/update/mod.rs
  server/service/src/stocktake_line/update/validate.rs
  server/service/src/sync/test/test_data/stocktake_line.rs
  server/service/src/sync/translations/stocktake_line.rs
  server/service/src/vaccination/insert/validate.rs
  server/service/src/vaccination/update/validate.rs
  server/service/src/vaccine_course/insert.rs
  server/service/src/vaccine_course/validate.rs
  server/service/src/vvm/vvm_status_log/insert/validate.rs
Labels: feature: programs, Team Ruru 🦉, docs: external, feature: vaccine, area: campaign

#8731 Stock volume part 3
  client/packages/common/src/intl/number/IntlNumber.ts
  client/packages/common/src/types/schema.ts
  client/packages/common/src/ui/components/inputs/TextInput/NumericTextInput.tsx
  client/packages/common/src/utils/numbers/NumUtils.ts
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/utils.ts
  client/packages/inventory/src/Stocktake/api/api.ts
  client/packages/inventory/src/Stocktake/api/operations.generated.ts
  client/packages/inventory/src/Stocktake/api/operations.graphql
  client/packages/invoices/src/Returns/api/operations.generated.ts
  client/packages/invoices/src/Returns/api/operations.graphql
  client/packages/invoices/src/Returns/modals/CustomerReturn/ReturnQuantitiesTable.tsx
  client/packages/system/src/Item/api/operations.generated.ts
  client/packages/system/src/Item/api/operations.graphql
  client/packages/system/src/Stock/Components/StockLineForm.tsx
  client/packages/system/src/Stock/api/hooks/useStockLine.ts
  server/graphql/invoice_line/src/mutations/outbound_shipment_line/line/insert.rs
  server/graphql/invoice_line/src/mutations/prescription_line/insert.rs
  server/graphql/stock_line/src/mutations/update.rs
  server/graphql/stocktake_line/src/mutations/insert.rs
  server/graphql/stocktake_line/src/mutations/update.rs
  server/graphql/types/src/types/customer_return_line.rs
  server/graphql/types/src/types/stocktake_line.rs
  server/service/src/invoice/customer_return/generate_lines.rs
  server/service/src/invoice/inventory_adjustment/adjust_existing_stock/generate.rs
  server/service/src/invoice/supplier_return/insert/generate.rs
  server/service/src/invoice/supplier_return/update_lines/generate.rs
  server/service/src/invoice_line/outbound_shipment_unallocated_line/allocate/generate.rs
  server/service/src/invoice_line/save_stock_out_item_lines/generate.rs
  server/service/src/invoice_line/stock_out_line/insert/generate.rs
  server/service/src/invoice_line/stock_out_line/insert/mod.rs
  server/service/src/stock_line/tests/update.rs
  server/service/src/stock_line/update.rs
  server/service/src/stocktake/insert/generate.rs
  server/service/src/stocktake/update/generate.rs
  server/service/src/stocktake_line/insert/generate.rs
  server/service/src/stocktake_line/insert/mod.rs
  server/service/src/stocktake_line/update/generate.rs
  server/service/src/stocktake_line/update/mod.rs
  server/service/src/vaccination/generate.rs
Labels: enhancement, Team Ruru 🦉, docs: external, area: stock

#8767 7841 allow verify inbound shipment with lines with 0 quantity
  client/packages/common/src/intl/locales/en/common.json
  client/packages/invoices/src/InboundShipment/DetailView/ContentArea/columns.ts
  client/packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  client/packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.test.ts
  client/packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.tsx
  client/packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
  client/packages/invoices/src/InboundShipment/api/api.ts
  client/packages/invoices/src/utils.test.ts
  client/packages/invoices/src/utils.ts
  server/service/src/invoice/inbound_shipment/update/generate.rs
  server/service/src/invoice/inbound_shipment/update/mod.rs
Labels: Team Ruru 🦉, Severity: High, area: inbound shipment

#8722 8710 set vvm status in stocktake
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  client/packages/inventory/src/Stocktake/api/api.ts
  client/packages/inventory/src/Stocktake/api/operations.generated.ts
  client/packages/inventory/src/Stocktake/api/operations.graphql
  server/graphql/stocktake_line/src/mutations/insert.rs
  server/graphql/stocktake_line/src/mutations/update.rs
  server/graphql/types/src/types/stocktake_line.rs
  server/repository/src/db_diesel/invoice_row.rs
  server/repository/src/db_diesel/stocktake_line_row.rs
  server/repository/src/db_diesel/vvm_status/vvm_status_row.rs
  server/repository/src/migrations/v2_10_00/add_vvm_status_to_stocktake_line.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/service/src/invoice_line/stock_out_line/insert/generate.rs
  server/service/src/invoice_line/stock_out_line/update/generate.rs
  server/service/src/stocktake/insert/generate.rs
  server/service/src/stocktake/update/generate.rs
  server/service/src/stocktake/update/mod.rs
  server/service/src/stocktake_line/insert/generate.rs
  server/service/src/stocktake_line/insert/mod.rs
  server/service/src/stocktake_line/insert/validate.rs
  server/service/src/stocktake_line/update/generate.rs
  server/service/src/stocktake_line/update/mod.rs
  server/service/src/stocktake_line/update/validate.rs
  server/service/src/sync/test/test_data/stocktake_line.rs
  server/service/src/sync/translations/stocktake_line.rs
Labels: Team Ruru 🦉, area: vvm status, area: stocktake

#8768 8741 Campaign date selector shows incorrect dates
  client/packages/system/src/Manage/Campaigns/ListView/CampaignEditModal.tsx
Labels: Team Ruru 🦉, Severity: High, HUNCHY FUNCHY, area: date picker, area: campaign

#8782 8257 use soft delete for campaigns
  server/repository/src/db_diesel/campaign/campaign_row.rs
  server/service/src/campaign/delete.rs
  server/service/src/sync/translations/campaign.rs
Labels: Team Ruru 🦉, 2.9, area: stock, area: campaign

#8793 8604 closed vial reasons for vaccines
  client/packages/common/src/utils/reasons/ReasonOptionUtils.test.ts
  client/packages/common/src/utils/reasons/ReasonOptionsUtils.ts
  client/packages/inventory/src/Stocktake/DetailView/ReduceLinesToZeroModal.tsx
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  client/packages/inventory/src/Stocktake/api/hooks/line/useZeroStocktakeLines.ts
  client/packages/invoices/src/Returns/modals/ReturnReasonsTable.tsx
  client/packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  client/packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEdit.tsx
  client/packages/system/src/ReasonOption/Components/ReasonOptionsSearchInput.tsx
  client/packages/system/src/Stock/Components/InventoryAdjustment/InventoryAdjustmentModal.tsx
  client/packages/system/src/Stock/Components/NewStockLineModal.tsx
  client/packages/system/src/Stock/Components/StockLineForm.tsx
Labels: Priority: Must Have, Team Ruru 🦉, feature: vaccine

#8740 8600 location selector with options
  client/packages/coldchain/src/Sensor/api/operations.generated.ts
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/styles/theme.ts
  client/packages/common/src/ui/components/inputs/Autocomplete/Autocomplete.tsx
  client/packages/common/src/ui/components/inputs/TextInput/NumericTextInput.tsx
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  client/packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
  client/packages/system/src/Location/Components/LocationInputColumn.tsx
  client/packages/system/src/Location/Components/LocationSearchInput.tsx
  client/packages/system/src/Location/ListView/LocationEditModal/LocationEditModal.tsx
  client/packages/system/src/Location/api/operations.generated.ts
  client/packages/system/src/Location/api/operations.graphql
  client/packages/system/src/Location/utils.test.ts
  client/packages/system/src/Location/utils.ts
  client/packages/system/src/Stock/Components/StockLineForm.tsx
  client/packages/system/src/Stock/api/operations.generated.ts
  server/graphql/core/src/loader/stock_line.rs
  server/service/src/location/query.rs
Labels: enhancement, Team Ruru 🦉, area: location

#8762 Rewrite test url in connection checker
  server/cli/src/test_connection.rs
Labels: bug, Severity: Normal

#8788 Save donor id and item variant id properly from stocktakes to stock line
  server/graphql/invoice_line/src/mutations/outbound_shipment_line/line/insert.rs
  server/graphql/invoice_line/src/mutations/prescription_line/insert.rs
  server/service/src/invoice/inventory_adjustment/adjust_existing_stock/generate.rs
  server/service/src/invoice/supplier_return/insert/generate.rs
  server/service/src/invoice/supplier_return/update_lines/generate.rs
  server/service/src/invoice_line/outbound_shipment_unallocated_line/allocate/generate.rs
  server/service/src/invoice_line/save_stock_out_item_lines/generate.rs
  server/service/src/invoice_line/stock_out_line/insert/generate.rs
  server/service/src/invoice_line/stock_out_line/insert/mod.rs
  server/service/src/stocktake/update/generate.rs
  server/service/src/stocktake/update/mod.rs
  server/service/src/vaccination/generate.rs
Labels: Team Ruru 🦉, Severity: High, feature: item variant, area: stock, area: stocktake

#8801 Lil fixes
  client/packages/system/src/Location/Components/LocationSearchInput.tsx
  client/packages/system/src/Stock/Components/StockLineForm.tsx
Labels: Team Ruru 🦉

#8814 #8210 Delete purchase orders
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/purchase_order/ListView/Footer.tsx
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderList.ts
  client/packages/purchasing/src/purchase_order/api/operations.generated.ts
  client/packages/purchasing/src/purchase_order/api/operations.graphql
  server/graphql/core/src/simple_generic_errors.rs
  server/graphql/purchase_order/src/lib.rs
  server/graphql/purchase_order/src/mutations/delete.rs
  server/graphql/purchase_order/src/mutations/mod.rs
  server/service/src/purchase_order/delete/mod.rs
  server/service/src/purchase_order/delete/validate.rs
  server/service/src/purchase_order/mod.rs
  server/service/src/purchase_order_line/delete/mod.rs
Labels: enhancement, Team Piwakawaka

#8841 8790 reports and forms tests don't run
  standard_forms/jest-setup.ts
  standard_forms/jest.config.js
  standard_forms/package.json
  standard_forms/purchase-order/latest/convert_data_js/jest.config.js
  standard_forms/purchase-order/latest/convert_data_js/package.json
  standard_forms/purchase-order/latest/convert_data_js/src/test/test.js
  standard_forms/purchase-order/latest/convert_data_js/tsconfig.json
  standard_forms/purchase-order/latest/convert_data_js/webpack.config.js
  standard_reports/item-usage/latest/convert_data_js/src/test/input.json
  standard_reports/item-usage/latest/convert_data_js/src/test/output.json
  standard_reports/jest-setup.ts
  standard_reports/jest.config.js
  standard_reports/package.json
Labels: Team Ruru 🦉, Severity: Normal, Tooling, feature: reports

#8805 8800 remove campaigns pref
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/intl/locales/fr/common.json
  client/packages/common/src/types/schema.ts
  client/packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
  client/packages/invoices/src/InboundShipment/DetailView/ContentArea/ContentArea.tsx
  client/packages/invoices/src/InboundShipment/DetailView/ContentArea/columns.ts
  client/packages/invoices/src/InboundShipment/DetailView/Footer/Footer.tsx
  client/packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabLayout.tsx
  client/packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/columns.tsx
  client/packages/programs/src/JsonForms/common/components/tests/Select.test.tsx
  client/packages/system/src/Stock/Components/StockLineForm.tsx
  server/graphql/preference/src/upsert.rs
  server/graphql/types/src/types/preferences.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/repository/src/migrations/v2_10_00/remove_use_campaigns_pref.rs
  server/service/src/preference/mod.rs
  server/service/src/preference/preferences/mod.rs
  server/service/src/preference/preferences/use_campaigns.rs
  server/service/src/preference/types.rs
  server/service/src/preference/upsert.rs
Labels: enhancement, Team Ruru 🦉

#8848 8602 stocktake list flickers on load from ascending to descending order (take 2)
  client/packages/inventory/src/Stocktake/ListView/Footer.tsx
  client/packages/inventory/src/Stocktake/ListView/ListView.tsx
  client/packages/inventory/src/Stocktake/api/api.ts
  client/packages/inventory/src/Stocktake/api/hooks/document/index.ts
  client/packages/inventory/src/Stocktake/api/hooks/document/useHasStocktake.ts
  client/packages/inventory/src/Stocktake/api/hooks/document/useStocktakeDeleteSelected.ts
  client/packages/inventory/src/Stocktake/api/hooks/index.ts
  client/packages/inventory/src/Stocktake/api/hooks/useStocktakeList.ts
Labels: Team Ruru 🦉, Severity: Low, UI tweaks

#8840 8815 Purchase order - display total price in sidebar
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/PricingSection.tsx
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/SidePanel.tsx
  client/packages/purchasing/src/purchase_order/api/operations.generated.ts
  client/packages/purchasing/src/purchase_order/api/operations.graphql
  server/graphql/types/src/types/purchase_order.rs
Labels: Team Piwakawaka, Purchase Orders

#8851 8610 sync delete records
  server/repository/src/db_diesel/goods_received_line_row.rs
  server/repository/src/db_diesel/goods_received_row.rs
  server/repository/src/db_diesel/purchase_order_line_row.rs
  server/repository/src/db_diesel/purchase_order_row.rs
  server/service/src/sync/test/pull_and_push.rs
  server/service/src/sync/test/test_data/goods_received.rs
  server/service/src/sync/test/test_data/goods_received_line.rs
  server/service/src/sync/test/test_data/mod.rs
  server/service/src/sync/test/test_data/purchase_order.rs
  server/service/src/sync/test/test_data/purchase_order_line.rs
  server/service/src/sync/translations/goods_received.rs
  server/service/src/sync/translations/goods_received_line.rs
  server/service/src/sync/translations/purchase_order.rs
  server/service/src/sync/translations/purchase_order_line.rs
Labels: Team Ruru 🦉, Purchase Orders

#8803 2528.8
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/hooks/useDraftStocktakeLines.ts
  client/packages/invoices/src/InboundShipment/DetailView/modals/InboundServiceLineEdit/InboundServiceLineEdit.tsx
  client/packages/invoices/src/InboundShipment/DetailView/modals/InboundServiceLineEdit/useDraftServiceLines.ts
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/OutboundServiceLineEdit.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundServiceLineEdit/useDraftServiceLines.ts
  client/packages/invoices/src/Returns/modals/CustomerReturn/useDraftCustomerReturnLines.ts
  client/packages/programs/src/VaccineCourseEditModal/VaccineCourseItemSelect.tsx
  client/packages/system/src/Clinician/api/index.ts
  client/packages/system/src/Item/Components/ServiceItemSearchInput/ServiceItemSearchInput.tsx
  client/packages/system/src/Item/Components/StockItemSearchInputWithStats/StockItemSearchInputWithStats.tsx
  client/packages/system/src/Item/DetailView/DetailView.tsx
  client/packages/system/src/Item/DetailView/Toolbar/Statistics.tsx
  client/packages/system/src/Item/ListView/ListView.tsx
  client/packages/system/src/Item/api/api.ts
  client/packages/system/src/Item/api/hooks/index.ts
  client/packages/system/src/Item/api/hooks/useDefaultServiceItem/index.ts
  client/packages/system/src/Item/api/hooks/useDefaultServiceItem/useDefaultServiceItem.tsx
  client/packages/system/src/Item/api/hooks/useItem.ts
  client/packages/system/src/Item/api/hooks/useItem/index.ts
  client/packages/system/src/Item/api/hooks/useItem/useItem.ts
  client/packages/system/src/Item/api/hooks/useItemApi/index.ts
  client/packages/system/src/Item/api/hooks/useItemFields/index.ts
  client/packages/system/src/Item/api/hooks/useItemFields/useItemFields.ts
  client/packages/system/src/Item/api/hooks/useItems.ts
  client/packages/system/src/Item/api/hooks/useItems/index.ts
  client/packages/system/src/Item/api/hooks/useItems/useItems.ts
  client/packages/system/src/Item/api/hooks/useServiceItems/index.ts
  client/packages/system/src/Item/api/hooks/useServiceItems/useServiceItems.ts
  client/packages/system/src/Item/api/hooks/useStockLines/index.ts
  client/packages/system/src/Item/api/hooks/useStockLines/useStockLines.tsx
  client/packages/system/src/Item/api/hooks/useVaccineItem/index.ts
  client/packages/system/src/Item/api/hooks/useVaccineItem/useVaccineItems.ts
  client/packages/system/src/Item/api/keys.ts
  client/packages/system/src/Item/api/useItemGraphQL.ts
  client/packages/system/src/Manage/IndicatorsDemographics/api/hooks/document/index.ts
  client/packages/system/src/Vaccination/Components/SelectBatch.tsx
  doc/patterns/frontend.md
Labels: enhancement, front-end, needs architecture/solution, Priority: Nice to Have, refactor, Team Ruru 🦉

#8855 8850 add delete for goods received
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/purchase_orders/src/api/hooks/usePurchaseOrderLine.ts
  client/packages/purchasing/src/goods_received/ListView/Footer.tsx
  client/packages/purchasing/src/goods_received/ListView/ListView.tsx
  client/packages/purchasing/src/goods_received/api/hooks/useGoodsReceivedList.ts
  client/packages/purchasing/src/goods_received/api/operations.generated.ts
  client/packages/purchasing/src/goods_received/api/operations.graphql
  client/packages/purchasing/src/goods_received/utils.ts
  server/graphql/general/src/queries/activity_log.rs
  server/graphql/goods_received/src/lib.rs
  server/graphql/goods_received/src/mutations/delete.rs
  server/graphql/goods_received/src/mutations/mod.rs
  server/graphql/types/src/types/activity_log.rs
  server/repository/src/db_diesel/activity_log_row.rs
  server/repository/src/db_diesel/mod.rs
  server/repository/src/migrations/v2_10_00/add_activity_log_goods_received.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/service/src/goods_received/common.rs
  server/service/src/goods_received/delete/mod.rs
  server/service/src/goods_received/delete/validate.rs
  server/service/src/goods_received/insert/validate.rs
  server/service/src/goods_received/mod.rs
Labels: Team Ruru 🦉, Purchase Orders

#8870 8860 location dropdown not clearing
  client/packages/inventory/src/Stocktake/DetailView/ChangeLocationModal.tsx
  client/packages/system/src/Location/Components/LocationSearchInput.tsx
  client/packages/system/src/Location/api/hooks/useLocationList.ts
Labels: Team Ruru 🦉, Severity: High

#8894 Purchase orders -- add display fields to Pricing section
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/intl/utils/IntlUtils.ts
  client/packages/common/src/intl/utils/ReactUtils.tsx
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/PricingSection.tsx
Labels: Team Piwakawaka, Purchase Orders

#8888 8872 add price fields to purchase order line import
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/purchase_order/DetailView/ImportLines/ImportReviewDataTable.tsx
  client/packages/purchasing/src/purchase_order/DetailView/ImportLines/PurchaseOrderLineImportModal.tsx
  client/packages/purchasing/src/purchase_order/DetailView/ImportLines/UploadTab.tsx
  client/packages/purchasing/src/purchase_order/DetailView/utils.ts
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderLine.ts
  server/graphql/purchase_order_line/src/mutations/insert.rs
  server/graphql/purchase_order_line/src/mutations/insert_from_csv.rs
  server/graphql/types/src/types/activity_log.rs
  server/graphql/types/src/types/purchase_order_line.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/service/src/purchase_order_line/insert/generate.rs
  server/service/src/purchase_order_line/insert/mod.rs
  server/service/src/purchase_order_line/insert/test.rs
  server/service/src/purchase_order_line/insert/validate.rs
Labels: Priority: Must Have, Team Ruru 🦉, Severity: High, Purchase Orders

#8905 8893 closed vial wastage reasons arent accepted
  server/service/src/stocktake_line/validate.rs
Labels: Team Ruru 🦉, Severity: High, feature: vaccine

#8917 8910 cant save service lines
  client/packages/invoices/src/InboundShipment/api/api.test.ts
  client/packages/invoices/src/InboundShipment/api/api.ts
Labels: Team Ruru 🦉, Severity: High

#8904 #8873 Purchase orders OK and Next button
  client/packages/purchasing/src/purchase_order/DetailView/DetailView.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEdit.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEditModal.tsx
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderLine.ts
Labels: Team Piwakawaka, Purchase Orders

#8933 8902 locations with no restricted type are invalid
  client/packages/system/src/Location/Components/LocationSearchInput.tsx
  client/packages/system/src/Location/utils.test.ts
  client/packages/system/src/Location/utils.ts
Labels: Team Ruru 🦉, Severity: Low, area: location, area: stocktake

#8940 8938 flaky client code checks
  client/package.json
Labels: Team Piwakawaka, Devops

#8955 8954 hotfix removed api query
  client/packages/purchasing/src/goods_received/api/operations.generated.ts
  client/packages/purchasing/src/goods_received/api/operations.graphql
Labels: Team Piwakawaka, Severity: Hotfix

#8930 8875 adjust line edit to show all data as expected in prd
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/common/src/ui/forms/Detail/NumericTextDisplay.tsx
  client/packages/common/src/ui/layout/skeletons/ModalGridLayout.tsx
  client/packages/common/src/ui/layout/skeletons/index.ts
  client/packages/purchasing/src/common/Inputs.tsx
  client/packages/purchasing/src/common/index.ts
  client/packages/purchasing/src/purchase_order/DetailView/DetailView.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEdit.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEditModal.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/utils.ts
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderLine.ts
  client/packages/purchasing/src/purchase_order/api/operations.generated.ts
  client/packages/purchasing/src/purchase_order/api/operations.graphql
  client/packages/requisitions/src/RequestRequisition/DetailView/RequestLineEdit/RequestLineEdit.tsx
  client/packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEdit.tsx
  client/packages/requisitions/src/common/InfoRow.tsx
  client/packages/requisitions/src/common/index.tsx
  client/packages/system/src/Name/Components/ManufacturerSearchInput/ManufacturerSearchInput.tsx
  server/graphql/purchase_order_line/src/mutations/insert.rs
  server/graphql/purchase_order_line/src/mutations/update.rs
  server/graphql/types/src/types/purchase_order_line.rs
  server/repository/src/db_diesel/purchase_order_line_row.rs
  server/repository/src/migrations/v2_10_00/add_extra_purchase_order_fields.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/service/src/purchase_order/generate.rs
  server/service/src/purchase_order_line/insert/generate.rs
  server/service/src/purchase_order_line/insert/mod.rs
  server/service/src/purchase_order_line/insert/validate.rs
  server/service/src/purchase_order_line/update/generate.rs
  server/service/src/purchase_order_line/update/mod.rs
  server/service/src/purchase_order_line/update/test.rs
  server/service/src/sync/test/test_data/purchase_order_line.rs
  server/service/src/sync/translations/purchase_order_line.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#8948 8533 date picker use dates in correct timezone
  client/packages/coldchain/src/Monitoring/ListView/TemperatureBreach/Toolbar.tsx
  client/packages/coldchain/src/Monitoring/ListView/TemperatureLog/Toolbar.tsx
  client/packages/common/src/hooks/useUrlQuery/useUrlQueryParams.ts
  client/packages/common/src/intl/utils/DateUtils.ts
  client/packages/common/src/ui/components/inputs/DateTimePickers/DateTimePickerInput/DateTimePickerInput.tsx
  client/packages/common/src/ui/components/inputs/Filters/DateFilter.tsx
  client/packages/invoices/src/InboundShipment/ListView/Toolbar.tsx
  client/packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
  client/packages/invoices/src/Prescriptions/ListView/Toolbar.tsx
  client/packages/purchasing/src/purchase_order/ListView/ListView.tsx
  client/packages/purchasing/src/purchase_order/ListView/Toolbar.tsx
  client/packages/system/src/Encounter/ListView/Toolbar.tsx
  client/packages/system/src/Item/DetailView/Tabs/ItemLedger.tsx
Labels: Team Ruru 🦉, Severity: High, area: date picker, feature: filters

#8958 Make Enum filters (status, type) clearable
  client/packages/common/src/ui/components/inputs/Filters/EnumFilter.tsx
Labels: refactor, Team Ruru 🦉, UI tweaks, feature: filters

#8972 Clear if received pack size changed not shipped
  client/packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/TabTables.tsx
Labels: Team Ruru 🦉

#8970 8963 outbound shipment report
  client/packages/common/src/intl/locales/en/common.json
  client/packages/invoices/src/InboundShipment/DetailView/Toolbar.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  client/packages/invoices/src/Returns/CustomerDetailView/Toolbar.tsx
  client/packages/invoices/src/Returns/SupplierDetailView/Toolbar.tsx
  client/packages/programs/src/JsonForms/components/NameSearch/NameSearch.tsx
  client/packages/requisitions/src/RequestRequisition/DetailView/Toolbar/Toolbar.tsx
  client/packages/requisitions/src/ResponseRequisition/DetailView/Toolbar/Toolbar.tsx
  client/packages/system/src/Name/Components/CustomerSearchInput/CustomerSearchInput.tsx
  client/packages/system/src/Name/Components/SupplierSearchInput/SupplierSearchInput.tsx
  client/packages/system/src/Name/utils.ts
  standard_forms/generated/standard_forms.json
  standard_reports/generated/standard_reports.json
  standard_reports/outbound_shipments/latest/argument_schemas/arguments.json
  standard_reports/outbound_shipments/latest/convert_data_js/src/convert_data.ts
  standard_reports/outbound_shipments/latest/convert_data_js/src/types.ts
  standard_reports/outbound_shipments/latest/convert_data_js/src/utils.ts
  standard_reports/outbound_shipments/latest/report-manifest.json
  standard_reports/outbound_shipments/latest/src/query.graphql
  standard_reports/outbound_shipments/latest/src/template.html
Labels: enhancement, Priority: Should Have, Team Ruru 🦉, Severity: High, needs design, feature: dispensing

#8965 8957 Update location type on item variants
  server/repository/src/db_diesel/activity_log_row.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/repository/src/migrations/v2_10_00/rename_cold_storage_type_activity_log_enum.rs
Labels: Team Ruru 🦉, Severity: High, feature: item variant

#8961 Purchase order toolbar doesn't condense
  client/packages/purchasing/src/purchase_order/DetailView/Toolbar.tsx
Labels: Team Ruru 🦉

#8946 Refactor fifth lot of 4 views
  server/repository/src/migrations/views/contact_trace_name_link_view.rs
  server/repository/src/migrations/views/invoice_stats.rs
  server/repository/src/migrations/views/mod.rs
  server/repository/src/migrations/views/purchase_order_stats.rs
  server/repository/src/migrations/views/vaccination_course.rs
Labels: Priority: Nice to Have, refactor, Team Piwakawaka, area: database migration

#8943 Refactor the third lot of 6 views
  server/repository/src/migrations/views/changelog_deduped.rs
  server/repository/src/migrations/views/contact_trace_name_link_view.rs
  server/repository/src/migrations/views/invoice_stats.rs
  server/repository/src/migrations/views/latest_asset_log.rs
  server/repository/src/migrations/views/latest_document.rs
  server/repository/src/migrations/views/mod.rs
  server/repository/src/migrations/views/purchase_order_stats.rs
  server/repository/src/migrations/views/report_document.rs
  server/repository/src/migrations/views/report_encounter.rs
  server/repository/src/migrations/views/report_patient.rs
  server/repository/src/migrations/views/report_program_enrolment.rs
  server/repository/src/migrations/views/report_program_event.rs
  server/repository/src/migrations/views/report_store.rs
  server/repository/src/migrations/views/requisitions_in_period.rs
  server/repository/src/migrations/views/vaccination_card.rs
  server/repository/src/migrations/views/vaccination_course.rs
Labels: Priority: Nice to Have, refactor, area: database migration

#8985 #8975 Purchase order line edit tweaks
  client/packages/common/src/intl/locales/en/common.json
  client/packages/purchasing/src/common/Inputs.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEdit.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEditModal.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/columns.ts
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderLine.ts
Labels: bug, Priority: Must Have, Team Piwakawaka, Purchase Orders

#8973 8966 preference error handling
  client/packages/system/src/Manage/Preferences/Components/CustomTranslations/CustomTranslationsModal.tsx
  client/packages/system/src/Manage/Preferences/EditPage/EditPreference.tsx
  client/packages/system/src/Manage/Preferences/api/useEditPreference.ts
Labels: Team Ruru 🦉, Severity: Normal, feature: preferences

#8896 8183 print goods received form
  client/packages/common/src/intl/locales/en/common.json
  server/graphql/goods_received/src/types.rs
  standard_forms/generated/standard_forms.json
  standard_forms/goods-received/latest/report-manifest.json
  standard_forms/goods-received/latest/src/header.html
  standard_forms/goods-received/latest/src/query.graphql
  standard_forms/goods-received/latest/src/style.css
  standard_forms/goods-received/latest/src/template.html
  standard_reports/generated/standard_reports.json
Labels: enhancement, Team Piwakawaka

#8989 8845 cant receive 0 shipped packs lines from prev versions
  client/packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.test.ts
  client/packages/invoices/src/InboundShipment/DetailView/Footer/StatusChangeButton.tsx
  client/packages/invoices/src/InboundShipment/DetailView/modals/InboundLineEdit/InboundLineEdit.tsx
Labels: Team Ruru 🦉, Severity: High, area: internal order

#8937 8935 cant clear expiry date
  client/packages/common/src/types/schema.ts
  client/packages/inventory/src/Stocktake/api/api.ts
  client/packages/invoices/src/InboundShipment/api/api.ts
  client/packages/system/src/Item/api/operations.generated.ts
  client/packages/system/src/Item/api/operations.graphql
  client/packages/system/src/Location/ListView/Footer.tsx
  client/packages/system/src/Stock/api/hooks/useStockLine.ts
  server/graphql/invoice_line/src/mutations/inbound_shipment_line/line/update.rs
  server/graphql/stock_line/src/mutations/update.rs
  server/graphql/stocktake_line/src/mutations/update.rs
  server/service/src/invoice/customer_return/update_lines/generate.rs
  server/service/src/invoice/inventory_adjustment/adjust_existing_stock/generate.rs
  server/service/src/invoice_line/save_stock_out_item_lines/generate.rs
  server/service/src/invoice_line/stock_in_line/update/generate.rs
  server/service/src/invoice_line/stock_in_line/update/mod.rs
  server/service/src/invoice_line/stock_out_line/insert/generate.rs
  server/service/src/invoice_line/stock_out_line/insert/mod.rs
  server/service/src/stock_line/tests/update.rs
  server/service/src/stock_line/update.rs
  server/service/src/stocktake/update/generate.rs
  server/service/src/stocktake_line/update/generate.rs
  server/service/src/stocktake_line/update/mod.rs
Labels: Team Ruru 🦉, Severity: Low, area: stock

#8997 8981 custom translations syncing to remote sites
  client/packages/common/src/intl/utils/IntlUtils.ts
  client/packages/host/src/components/Sync/SyncModal.tsx
  client/packages/system/src/Manage/Preferences/Components/CustomTranslations/CustomTranslationsModal.tsx
Labels: Team Ruru 🦉, feature: translation

#8987 8701 update internal order report with unit name column
  standard_forms/generated/standard_forms.json
  standard_forms/internal-order/latest/report-manifest.json
  standard_forms/internal-order/latest/src/query.graphql
  standard_forms/internal-order/latest/src/template.html
  standard_reports/generated/standard_reports.json
Labels: Severity: High

#8999 8993 cant save stocktake with on hold location
  server/service/src/invoice_line/stock_out_line/insert/mod.rs
  server/service/src/invoice_line/stock_out_line/insert/validate.rs
  server/service/src/invoice_line/stock_out_line/update/validate.rs
  server/service/src/invoice_line/stock_out_line/validate.rs
Labels: Team Ruru 🦉, Severity: High, area: location

#9026 9006 shipped inbounds show in item ledger
  server/service/src/sync/translations/invoice.rs
Labels: Team Ruru 🦉, Severity: High

#9048 9047 two columns have the same name (PT)
  client/packages/common/src/intl/locales/pt/common.json
Labels: Team Piwakawaka, translation/terms/naming

#9044 9042 layout going haywire
  client/packages/host/src/components/Sync/SyncModal.tsx
Labels: Team Piwakawaka, Severity: High, HUNCHY FUNCHY

#8945 Report readme update
  standard_reports/README.md
Labels: enhancement, Priority: Must Have, Team Piwakawaka, docs: external

#9077 Change datepicker to using theme.palette.background.menu styling, similar to other related components
  client/packages/common/src/ui/components/inputs/DateTimePickers/styles.ts
Labels: needs triage

#9066 8918 Not all batches show up when creating a stocktake for an item
  client/packages/common/src/ui/layout/tables/DataTable.tsx
  client/packages/common/src/ui/layout/tables/types.ts
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEditTables.tsx
Labels: Team Piwakawaka, Severity: High, area: stocktake

#9074 9043 EFX40 preference to disable manual returns
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/invoices/src/Returns/CustomerListView/AppBarButtons.tsx
  client/packages/invoices/src/Returns/SupplierListView/AppBarButtons.tsx
  server/graphql/preference/src/upsert.rs
  server/graphql/types/src/types/preferences.rs
  server/service/src/preference/mod.rs
  server/service/src/preference/preferences/disable_manual_returns.rs
  server/service/src/preference/preferences/mod.rs
  server/service/src/preference/types.rs
  server/service/src/preference/upsert.rs
Labels: enhancement, Team Ruru 🦉, feature: CIV, UAT
