Repository msupply-foundation/open-msupply, pull requests merged in 2025-09, with the labels that each got.

#9102 255 add program_id as a filter option for invoices
  server/graphql/invoice/src/invoice_queries.rs
  server/repository/src/db_diesel/invoice.rs
Labels: Team Ruru 🦉

#9096 9088 backend-managed feature flags
  .github/copilot-instructions.md
  client/README.md
  client/packages/common/src/hooks/index.ts
  client/packages/common/src/hooks/useFeatureFlags/index.ts
  client/packages/common/src/hooks/useFeatureFlags/operations.generated.ts
  client/packages/common/src/hooks/useFeatureFlags/operations.graphql
  client/packages/common/src/hooks/useFeatureFlags/useFeatureFlags.ts
  client/packages/common/src/types/schema.ts
  client/packages/config/src/config.ts
  client/packages/host/src/Admin/Printers.tsx
  client/packages/host/src/Admin/Settings.tsx
  client/packages/host/src/useInitPlugins.ts
  client/packages/host/webpack.config.js
  client/packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  client/packages/purchasing/README.md
  server/README.md
  server/android/src/android.rs
  server/configuration/example.yaml
  server/graphql/general/src/lib.rs
  server/service/src/settings.rs
  server/service/src/test_helpers.rs
Labels: enhancement, Team Piwakawaka, feature: usability

#9099 Exf97/98 insurance renames & add one field
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/intl/locales/fr/common.json
  client/packages/common/src/types/schema.ts
  client/packages/system/src/Patient/Insurance/InsuranceModal.tsx
  client/packages/system/src/Patient/PatientView/PatientView.tsx
  client/packages/system/src/Patient/apiModern/hooks/useInsurancesPolicies.ts
  client/packages/system/src/Patient/apiModern/operations.generated.ts
  client/packages/system/src/Patient/apiModern/operations.graphql
  server/graphql/general/src/mutations/insert_insurance.rs
  server/graphql/general/src/mutations/update_insurance.rs
  server/graphql/types/src/types/insurance_policy.rs
  server/repository/src/db_diesel/name_insurance_join_row.rs
  server/repository/src/migrations/v2_10_00/add_name_of_insured_to_name_insurance_join.rs
  server/repository/src/migrations/v2_10_00/mod.rs
  server/service/src/insurance/insert/generate.rs
  server/service/src/insurance/insert/mod.rs
  server/service/src/insurance/insert/test.rs
  server/service/src/insurance/query.rs
  server/service/src/insurance/update/generate.rs
  server/service/src/insurance/update/mod.rs
  server/service/src/insurance/update/test.rs
  server/service/src/sync/settings.rs
  server/service/src/sync/test/test_data/name_insurance_join.rs
  server/service/src/sync/translations/name_insurance_join.rs
Labels: Team Ruru 🦉, feature: CIV, UAT

#9067 9007 Installer errors - Jenkins and Mac demo
  .github/workflows/build-mac-demo.yaml
  build/mac/build.sh
  build/windows/omsupply-prepare.bat
Labels: Team Ruru 🦉, Severity: High, Needs Investigation, Team Whio

#9104 9007 Fix invalid url in custom translations on Electron
  client/packages/common/src/intl/context/IntlContext.tsx
Labels: Severity: High, Needs Investigation, Team Whio

#9113 8994 quick fix: map Verify Inbound Shipment to finalise SI permission
  server/service/src/apis/permissions.rs
  server/service/src/login.rs
Labels: docs: external

#9109 9032 The PO with only placeholder items can be confirmed and finalised
  client/packages/common/src/intl/locales/en/common.json
  client/packages/purchasing/src/purchase_order/DetailView/Footer/StatusChangeButton/StatusChangeButton.tsx
  client/packages/purchasing/src/purchase_order/DetailView/Footer/utils.ts
Labels: Team Ruru 🦉, Severity: Low, Purchase Orders

#9142 9020 prescription keyboard shortcuts()(share function)
  client/packages/system/src/Item/Components/ListItems/ListItems.tsx
Labels: Team Piwakawaka, feature: dispensing, feature: usability

#9120 254 Exr03 stock levels report
  server/graphql/core/src/loader/loader_registry.rs
  server/graphql/core/src/loader/mod.rs
  server/graphql/core/src/loader/program_order_types.rs
  server/graphql/types/src/types/program/mod.rs
  server/graphql/types/src/types/program/program_order_type.rs
  server/graphql/types/src/types/stock_line.rs
  server/repository/src/db_diesel/program_requisition/program_row.rs
  server/service/src/requisition/program_settings/customer_program_settings/prepare.rs
  server/service/src/requisition/program_settings/supplier_program_settings/mod.rs
  server/service/src/requisition/program_settings/supplier_program_settings/prepare.rs
Labels: sync, Build Tested: Dev, Team Ruru 🦉

#9134 #9128 Generalise new table hooks
  client/.eslintrc.js
  client/packages/common/src/ui/layout/tables/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/MaterialReactTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useNonPaginatedMaterialTable.ts
  client/packages/common/src/ui/layout/tables/material-react-table/usePaginatedMaterialTable.ts
  client/packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  client/packages/invoices/src/OutboundShipment/ListView/ListView.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9091 9017 reports - search by all programs
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/intl/locales/fr/common.json
  client/packages/invoices/src/Returns/CustomerListView/AppBarButtons.tsx
  client/packages/invoices/src/Returns/SupplierListView/AppBarButtons.tsx
  client/packages/programs/src/JsonForms/components/PeriodSearch.tsx
  client/packages/programs/src/JsonForms/components/ProgramSearch.tsx
  server/graphql/general/src/queries/item.rs
  server/graphql/invoice_line/src/invoice_line_queries.rs
  server/graphql/requisition/src/query_tests/requisition.rs
  server/graphql/requisition/src/query_tests/requisitions.rs
  server/graphql/requisition/src/requisition_queries.rs
  server/graphql/stock_line/src/lib.rs
  server/repository/src/db_diesel/invoice_line.rs
  server/repository/src/db_diesel/item.rs
  server/repository/src/db_diesel/requisition/mod.rs
  server/repository/src/db_diesel/requisition/requisition.rs
  server/repository/src/db_diesel/stock_line.rs
  server/service/src/sync/settings.rs
  standard_reports/outbound_shipments/latest/convert_data_js/package.json
Labels: enhancement, Team Ruru 🦉, feature: CIV, UAT

#9149 Retain program in selection
  client/packages/programs/src/JsonForms/components/ProgramSearch.tsx
Labels: enhancement, Team Ruru 🦉, feature: CIV, UAT

#9117 9060 Use Status and Created By fields in Side panel
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/goods_received/DetailView/SidePanel.tsx
  client/packages/purchasing/src/goods_received/api/operations.generated.ts
  client/packages/purchasing/src/goods_received/api/operations.graphql
  server/graphql/goods_received/src/mutations/insert.rs
  server/graphql/goods_received/src/types.rs
Labels: Team Ruru 🦉, Purchase Orders

#9130 9016 inventory adjustment modal
  client/packages/common/src/intl/locales/ar/common.json
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/intl/locales/es/common.json
  client/packages/common/src/intl/locales/fr-DJ/common.json
  client/packages/common/src/intl/locales/fr/common.json
  client/packages/common/src/intl/locales/pt/common.json
  client/packages/common/src/intl/locales/ru/common.json
  client/packages/common/src/intl/locales/tet/common.json
  client/packages/common/src/styles/theme.ts
  client/packages/common/src/ui/components/buttons/ButtonShowcase.stories.tsx
  client/packages/common/src/ui/components/buttons/ToggleButton/ToggleButtonGroup.tsx
  client/packages/common/src/ui/components/buttons/ToggleButton/index.ts
  client/packages/common/src/ui/components/domain/SimpleStatistic.tsx
  client/packages/common/src/ui/components/domain/index.ts
  client/packages/common/src/ui/components/inputs/TextInput/NumericTextInput.tsx
  client/packages/common/src/ui/icons/Minus.tsx
  client/packages/common/src/ui/icons/Plus.tsx
  client/packages/common/src/ui/icons/index.ts
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/columns.tsx
  client/packages/system/src/ReasonOption/Components/ReasonOptionsSearchInput.tsx
  client/packages/system/src/Stock/Components/InventoryAdjustment/AdjustmentForm.tsx
  client/packages/system/src/Stock/Components/InventoryAdjustment/AdjustmentStats.tsx
  client/packages/system/src/Stock/Components/InventoryAdjustment/InventoryAdjustmentDirectionInput.tsx
  client/packages/system/src/Stock/Components/InventoryAdjustment/InventoryAdjustmentDirectionSearchInput.tsx
  client/packages/system/src/Stock/Components/InventoryAdjustment/InventoryAdjustmentModal.tsx
  client/packages/system/src/Stock/DetailView/DetailView.tsx
  client/packages/system/src/Stock/api/hooks/useInventoryAdjustment.ts
  client/packages/system/src/utils.ts
Labels: Team Piwakawaka, docs: external, feature: usability, area: navigation, area: stock

#9167 9156 Disable Manual Returns with permission
  client/packages/invoices/src/Returns/CustomerListView/AppBarButtons.tsx
  client/packages/invoices/src/Returns/CustomerListView/ListView.tsx
  client/packages/invoices/src/Returns/SupplierListView/AppBarButtons.tsx
  client/packages/invoices/src/Returns/SupplierListView/ListView.tsx
Labels: Team Ruru 🦉, Severity: High, feature: CIV, UAT, area: returns

#9146 #9129 Table sorting and filtering
  client/packages/common/src/ui/layout/tables/material-react-table/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useMaterialTableColumns.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/usePaginatedMaterialTable.ts
  client/packages/invoices/src/OutboundShipment/ListView/ListView.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9176 9131 add table styling
  client/packages/common/src/styles/theme.ts
  client/packages/common/src/ui/layout/tables/material-react-table/MaterialReactTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useNonPaginatedMaterialTable.ts
  client/packages/common/src/ui/layout/tables/material-react-table/usePaginatedMaterialTable.ts
  client/packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  client/packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  client/packages/invoices/src/Prescriptions/DetailView/AppBarButton.tsx
  client/packages/invoices/src/Prescriptions/LineEditView/PrescriptionLineEditTable.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9184 9040 requisition does not show the right mos of the customer as displayed in the internal order
  client/packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ContentLayout.tsx
  client/packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/ResponseLineEdit.tsx
  client/packages/requisitions/src/ResponseRequisition/DetailView/ResponseLineEdit/utils.ts
Labels: Team Ruru 🦉, Severity: Normal, area: requisition

#9187 9180 add table localisations
  client/packages/common/src/intl/utils/IntlUtils.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
Labels: Team Piwakawaka, feature: usability

#9194 9061 Save fields on goods received
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/goods_received/DetailView/DetailView.tsx
  client/packages/purchasing/src/goods_received/DetailView/SidePanel.tsx
  client/packages/purchasing/src/goods_received/DetailView/Toolbar.tsx
  client/packages/purchasing/src/goods_received/api/hooks/utils.ts
  client/packages/purchasing/src/goods_received/api/operations.generated.ts
  client/packages/purchasing/src/goods_received/api/operations.graphql
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/OtherSection.tsx
  server/graphql/goods_received/src/mutations/update.rs
  server/graphql/goods_received/src/types.rs
  server/service/src/goods_received/update/generate.rs
  server/service/src/goods_received/update/mod.rs
Labels: bug, Build Tested: Passed, Tester: Maria, Team Ruru 🦉, Severity: Normal, feature: usability, UI tweaks, Purchase Orders

#9198 9195 add optional column decription to column menu
  client/packages/common/src/ui/layout/tables/material-react-table/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/types.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/usePaginatedMaterialTable.ts
  client/packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9197 9073.2
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/purchase_order/DetailView/DetailView.tsx
  client/packages/purchasing/src/purchase_order/DetailView/Footer/StatusChangeButton/useStatusChangeButton.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEdit.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEditModal.tsx
  client/packages/purchasing/src/purchase_order/DetailView/columns.ts
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrder.ts
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderLine.ts
  client/packages/purchasing/src/purchase_order/api/operations.generated.ts
  client/packages/purchasing/src/purchase_order/api/operations.graphql
  client/packages/purchasing/src/purchase_order/context/index.ts
  client/packages/purchasing/src/purchase_order/context/purchaseOrderLineError.tsx
  client/packages/system/src/Item/Components/StockItemSearchInput/StockItemSearchInput.tsx
  server/graphql/core/src/loader/program_order_types.rs
  server/graphql/general/src/queries/master_list_line.rs
  server/repository/src/db_diesel/master_list_line.rs
  server/repository/src/db_diesel/stock_line.rs
  server/repository/src/db_diesel/stock_line_ledger.rs
  server/repository/src/mock/item_store_join.rs
  server/repository/src/tests.rs
  server/service/src/invoice/inbound_shipment/add_from_master_list.rs
  server/service/src/invoice/outbound_shipment/add_from_master_list.rs
  server/service/src/master_list/query_lines.rs
  server/service/src/pricing/item_price.rs
  server/service/src/processors/transfer/requisition/create_response_requisition.rs
  server/service/src/purchase_order/add_to_purchase_order_from_master_list.rs
  server/service/src/requisition/request_requisition/add_from_master_list.rs
  server/service/src/requisition/request_requisition/insert_program.rs
  server/service/src/requisition/response_requisition/insert_program.rs
  server/service/src/rnr_form/generate_rnr_form_lines.rs
  server/service/src/stocktake/insert/generate.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9208 9100 Purchase order detail view query fix
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrder.ts
Labels: Team Ruru 🦉, Purchase Orders

#9202 #9193 Group rows (by item)
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useTableLocalStorage.ts
  client/packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9213 Round MOS to 1 dp
  client/packages/requisitions/src/RequestRequisition/DetailView/columns.tsx
  client/packages/system/src/Item/Components/TableCell/NumericCell.tsx
  client/packages/system/src/Item/Components/TableCell/index.ts
  client/packages/system/src/Item/Components/index.ts
Labels: Team Whio

#9206 #9181 Additional style tweaks (part 1)
  client/packages/common/src/ui/layout/tables/material-react-table/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/types.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useMaterialTableColumns.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useNonPaginatedMaterialTable.ts
  client/packages/common/src/ui/layout/tables/material-react-table/usePaginatedMaterialTable.ts
  client/packages/common/src/ui/layout/tables/material-react-table/utils.ts
  client/packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  client/packages/invoices/src/OutboundShipment/ListView/ListView.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9209 9018 download patient
  client/packages/system/src/Patient/CreatePatientModal/FetchPatientModal.tsx
  client/packages/system/src/Patient/CreatePatientModal/PatientResultsTab.tsx
Labels: Severity: High, feature: dispensing, Team Whio

#9216 #9205 Pagination for new tables
  client/packages/common/src/hooks/useUrlQuery/useUrlQueryParams.ts
  client/packages/common/src/ui/layout/tables/material-react-table/usePaginatedMaterialTable.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9204 8771 ledger fix no linked invoice line
  server/repository/src/migrations/views/mod.rs
  server/service/src/ledger_fix/README.md
  server/service/src/ledger_fix/find_ledger_discrepancies.rs
  server/service/src/ledger_fix/fixes/delete_unused_orphan_stock_lines.rs
  server/service/src/ledger_fix/fixes/mod.rs
  server/service/src/ledger_fix/mod.rs
  server/service/src/ledger_fix/stock_line_ledger_fix.rs
Labels: enhancement, Priority: Must Have, area: ledger, Team Whio

#9236 9188 Supplier's Purchase Order tab
  client/packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  client/packages/invoices/src/Returns/CustomerListView/AppBarButtons.tsx
  client/packages/system/src/Name/SupplierDetailView/PurchaseOrder.tsx
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9232 9159 outstanding lines export
  client/packages/common/src/intl/locales/en/common.json
  client/packages/purchasing/src/purchase_order/ListView/OutstandingLines/AppBarButtons.tsx
  client/packages/purchasing/src/purchase_order/ListView/OutstandingLines/OutstandingLines.tsx
  client/packages/purchasing/src/utils.ts
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9235 9169 purchase order header / side panel
  client/packages/purchasing/src/purchase_order/DetailView/AppBarButtons/AddButton.tsx
  client/packages/purchasing/src/purchase_order/DetailView/AppBarButtons/AppBarButtons.tsx
  client/packages/purchasing/src/purchase_order/DetailView/DetailView.tsx
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/DateSection.tsx
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/OtherSection.tsx
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/SidePanel.tsx
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/SupplierDetailSection.tsx
  client/packages/purchasing/src/purchase_order/DetailView/Toolbar.tsx
  client/packages/purchasing/src/purchase_order/api/hooks/utils.ts
  client/packages/purchasing/src/utils.ts
  server/graphql/purchase_order/src/mutations/update.rs
  server/service/src/purchase_order/insert/generate.rs
  server/service/src/purchase_order/insert/mod.rs
  server/service/src/purchase_order/insert/validate.rs
  server/service/src/purchase_order/update/generate.rs
  server/service/src/purchase_order/update/mod.rs
  server/service/src/purchase_order/update/validate.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9248 8925 view stock confirm on leave even with no edits
  client/packages/system/src/Stock/Components/StockLineForm.tsx
Labels: Team Piwakawaka, Severity: Low

#9124 Create stocktake modal : Ux
  client/packages/common/src/hooks/useFeatureFlags/useFeatureFlags.ts
  client/packages/common/src/intl/locales/en/common.json
  client/packages/inventory/src/Stocktake/ListView/AppBarButtons.tsx
  client/packages/inventory/src/Stocktake/ListView/NewCreateStocktakeModal.tsx
  client/packages/system/src/Stock/api/hooks/useStockListCount.ts
Labels: Priority: Should Have, Team Piwakawaka, feature: usability, area: stocktake

#9243 9039 Filter CSV export based on page filters
  client/packages/system/src/Stock/ListView/AppBarButtons.tsx
  client/packages/system/src/Stock/ListView/ListView.tsx
  client/packages/system/src/Stock/api/hooks/useExportStockList.ts
Labels: Team Piwakawaka, area: stock

#9255 9001 show volume used in list view
  client/packages/common/src/ui/components/loading/InlineProgress/InlineProgress.tsx
  client/packages/system/src/Location/ListView/ListView.tsx
Labels: Team Piwakawaka, area: location

#9271 9264 url state for tables
  client/packages/common/src/hooks/useUrlQuery/useUrlQueryParams.ts
  client/packages/common/src/ui/layout/tables/material-react-table/getTableDisplayOptions.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useMaterialTableColumns.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/usePaginatedMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useTableFiltering.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useUrlSortManagement.ts
  client/packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  client/packages/invoices/src/OutboundShipment/ListView/ListView.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9259 9170 line edit
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/common/Inputs.tsx
  client/packages/purchasing/src/purchase_order/DetailView/ImportLines/utils.ts
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEdit.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEditModal.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/utils.ts
  client/packages/purchasing/src/purchase_order/DetailView/columns.ts
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderLine.ts
  client/packages/purchasing/src/purchase_order/api/operations.generated.ts
  client/packages/purchasing/src/purchase_order/api/operations.graphql
  client/packages/system/src/Item/api/operations.generated.ts
  client/packages/system/src/Item/api/operations.graphql
  server/graphql/core/src/loader/loader_registry.rs
  server/graphql/core/src/loader/mod.rs
  server/graphql/core/src/loader/units_in_other_purchase_orders.rs
  server/graphql/purchase_order_line/src/purchase_order_line_queries.rs
  server/graphql/types/src/types/purchase_order_line.rs
  server/repository/src/db_diesel/purchase_order.rs
  server/repository/src/db_diesel/purchase_order_line.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9261 Reports showing broken logo follow up
  standard_forms/generated/standard_forms.json
  standard_forms/inbound/latest/report-manifest.json
  standard_forms/internal-order/latest/report-manifest.json
  standard_forms/outbound-invoice-landscape-with-logo/latest/report-manifest.json
  standard_forms/outbound-invoice-portrait-with-logo/latest/report-manifest.json
  standard_forms/repack/latest/report-manifest.json
  standard_forms/requisition/latest/report-manifest.json
  standard_forms/stock-take-detail-view/latest/report-manifest.json
  standard_forms/stock-take-variance/latest/report-manifest.json
  standard_forms/stock-take-with-quantity/latest/report-manifest.json
  standard_forms/stock-take-without-quantity/latest/report-manifest.json
  standard_reports/generated/standard_reports.json
Labels: Team Piwakawaka, feature: reports

#9268 #9221 Line edit table
  client/packages/common/src/ui/components/inputs/TextInput/NumericTextInput.tsx
  client/packages/common/src/ui/forms/Detail/NumericTextDisplay.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/components/ExpiryDateCell.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/components/NumberInputCell.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/components/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/types.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useGetColumnDefDefaults.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useSimpleMaterialTable.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEditTable.tsx
  client/packages/system/src/Stock/index.ts
Labels: Team Piwakawaka, feature: usability, area: tables

#9284 9272 clicking on outstanding lines leads to endless loading
  server/repository/src/db_diesel/purchase_order_line.rs
Labels: Team Ruru 🦉, Purchase Orders

#9278 9165 Purchase Order statuses and editing - Pt 3
  client/packages/purchasing/src/common/Inputs.tsx
  client/packages/purchasing/src/purchase_order/DetailView/Footer/StatusChangeButton/useStatusChangeButton.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEdit.tsx
  client/packages/purchasing/src/utils.test.ts
  client/packages/purchasing/src/utils.ts
  server/graphql/purchase_order/src/mutations/update.rs
  server/graphql/types/src/types/purchase_order.rs
  server/repository/src/migrations/v2_11_00/rename_authorised_datetime_to_request_approval_datetime.rs
  server/service/src/purchase_order/update/generate.rs
  server/service/src/purchase_order/update/mod.rs
  server/service/src/purchase_order/update/test.rs
  server/service/src/purchase_order/update/validate.rs
  server/service/src/purchase_order/validate.rs
  server/service/src/purchase_order_line/delete/validate.rs
  server/service/src/purchase_order_line/insert/validate.rs
  server/service/src/purchase_order_line/update/mod.rs
  server/service/src/purchase_order_line/update/test.rs
  server/service/src/purchase_order_line/update/validate.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9274 9033 subtotal shows the discounted price
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/intl/locales/fr/common.json
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/PricingSection.tsx
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/SidePanel.tsx
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/SupplierDetailSection.tsx
  client/packages/purchasing/src/purchase_order/api/operations.generated.ts
  client/packages/purchasing/src/purchase_order/api/operations.graphql
  server/graphql/types/src/types/purchase_order.rs
  server/repository/src/db_diesel/purchase_order_row.rs
  server/repository/src/migrations/views/purchase_order_stats.rs
  server/service/src/purchase_order/update/generate.rs
  server/service/src/sync/test/test_data/purchase_order.rs
  server/service/src/sync/translations/purchase_order.rs
Labels: Team Ruru 🦉, Severity: Normal, Purchase Orders

#9241 9119 add links to dashboard stock levels widget headings
  client/packages/coldchain/src/Equipment/api/api.ts
  client/packages/coldchain/src/Monitoring/api/TemperatureLog/api.ts
  client/packages/coldchain/src/Sensor/api/hooks/useSensorList.ts
  client/packages/coldchain/src/common/Monitoring/TemperatureChart/utils.ts
  client/packages/common/src/hooks/useQueryParams/types.ts
  client/packages/common/src/hooks/useUrlQuery/useUrlQueryParams.ts
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/common/src/ui/components/inputs/Filters/TextFilter.tsx
  client/packages/common/src/ui/components/navigation/AppNavLink/index.ts
  client/packages/dashboard/src/widgets/StockWidget.tsx
  client/packages/inventory/src/Stocktake/api/api.ts
  client/packages/invoices/src/InboundShipment/api/api.ts
  client/packages/invoices/src/OutboundShipment/api/api.ts
  client/packages/invoices/src/OutboundShipment/api/hooks/utils/useOutboundApi.ts
  client/packages/invoices/src/Prescriptions/api/hooks/usePrescriptionList.ts
  client/packages/invoices/src/Returns/api/api.ts
  client/packages/programs/src/api/hooks/useImmunisationProgramList.ts
  client/packages/programs/src/api/hooks/useVaccineCourseList.ts
  client/packages/purchasing/src/goods_received/api/hooks/useGoodsReceivedList.ts
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderLineList.ts
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderList.ts
  client/packages/requisitions/src/ResponseRequisition/api/api.ts
  client/packages/system/src/Asset/api/hooks/useAssetCategories.ts
  client/packages/system/src/Asset/api/hooks/useAssetList.ts
  client/packages/system/src/Asset/api/hooks/useAssetLogReasonList.ts
  client/packages/system/src/Asset/api/hooks/useAssetProperties.ts
  client/packages/system/src/Asset/api/hooks/useAssetTypes.ts
  client/packages/system/src/Item/DetailView/Toolbar/Statistics.tsx
  client/packages/system/src/Item/ListView/ListView.tsx
  client/packages/system/src/Item/ListView/Toolbar.tsx
  client/packages/system/src/Item/api/api.ts
  client/packages/system/src/Item/api/hooks/useItemLedger/useItemLedger.ts
  client/packages/system/src/Item/api/hooks/useItems.ts
  client/packages/system/src/Manage/IndicatorsDemographics/api/api.ts
  client/packages/system/src/MasterList/Components/MasterListSearchModal/MasterListSearchModal.tsx
  client/packages/system/src/MasterList/api/hooks/useMasterLists.ts
  client/packages/system/src/Name/api/api.ts
  client/packages/system/src/Patient/api/api.ts
  client/packages/system/src/Stock/Components/StockLineForm.tsx
  client/packages/system/src/Stock/DetailView/AppBarButtons.tsx
  client/packages/system/src/Stock/DetailView/DetailView.tsx
  client/packages/system/src/Stock/ListView/AppBarButtons.tsx
  client/packages/system/src/Stock/api/hooks/useExportStockList.ts
  client/packages/system/src/Store/api/api.ts
  client/packages/system/src/Store/api/hooks/utils/useStoreApi.ts
  server/graphql/core/src/standard_graphql_error.rs
  server/graphql/general/src/queries/item.rs
  server/repository/src/db_diesel/item.rs
  server/service/src/dashboard/item_count.rs
  server/service/src/item/item.rs
  server/service/src/item_stats.rs
  server/service/src/lib.rs
  server/service/src/programs/encounter/suggested_next_encounter.rs
  server/service/src/requisition/request_requisition/generate.rs
Labels: Team Piwakawaka, feature: usability

#9277 9252 shipping method table
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/OtherSection.tsx
  client/packages/system/src/ShippingMethod/api/hooks/index.ts
  client/packages/system/src/ShippingMethod/api/hooks/keys.ts
  client/packages/system/src/ShippingMethod/api/hooks/useShippingMethod.ts
  client/packages/system/src/ShippingMethod/api/index.ts
  client/packages/system/src/ShippingMethod/api/operations.generated.ts
  client/packages/system/src/ShippingMethod/api/operations.graphql
  client/packages/system/src/ShippingMethod/api/useShippingMethodGraphQL.ts
  client/packages/system/src/ShippingMethod/components/ShippingMethodAutocomplete.tsx
  client/packages/system/src/ShippingMethod/components/index.ts
  client/packages/system/src/ShippingMethod/index.ts
  client/packages/system/src/index.ts
  server/graphql/general/src/lib.rs
  server/graphql/general/src/queries/mod.rs
  server/graphql/general/src/queries/shipping_method.rs
  server/graphql/types/src/types/mod.rs
  server/graphql/types/src/types/shipping_method.rs
  server/repository/src/db_diesel/mod.rs
  server/repository/src/db_diesel/shipping_method.rs
  server/repository/src/db_diesel/shipping_method_row.rs
  server/repository/src/migrations/v2_12_00/add_shipping_method_table.rs
  server/repository/src/migrations/v2_12_00/mod.rs
  server/service/src/lib.rs
  server/service/src/service_provider.rs
  server/service/src/shipping_method/mod.rs
  server/service/src/shipping_method/query.rs
  server/service/src/sync/test/test_data/mod.rs
  server/service/src/sync/test/test_data/shipping_method.rs
  server/service/src/sync/translations/mod.rs
  server/service/src/sync/translations/shipping_method.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9324 9306 - Update line status when editing adjusted packs
  server/service/src/purchase_order/update/generate.rs
  server/service/src/purchase_order/update/test.rs
  server/service/src/purchase_order_line/update/mod.rs
  server/service/src/purchase_order_line/update/validate.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9315 9285 remove old OS tables part 2 (detail view)
  client/packages/common/src/ui/layout/tables/context/hooks/useIsGrouped.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useNonPaginatedMaterialTable.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useTableFiltering.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useUrlSortManagement.ts
  client/packages/invoices/src/OutboundShipment/DetailView/ContentArea.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/ExpandoTable.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/Footer/Footer.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/Footer/StatusChangeButton.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEdit.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/SelectItem.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/hooks/useNextItem.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/Toolbar.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/columns.ts
  client/packages/invoices/src/OutboundShipment/api/hooks/index.ts
  client/packages/invoices/src/OutboundShipment/api/hooks/line/index.ts
  client/packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundAllocateSelectedLines.ts
  client/packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundDeleteLines.ts
  client/packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundItems.ts
  client/packages/invoices/src/OutboundShipment/api/hooks/line/useOutboundRows.ts
  client/packages/invoices/src/OutboundShipment/api/hooks/utils/index.ts
  client/packages/invoices/src/OutboundShipment/api/hooks/utils/useSelectedLines.ts
  client/packages/system/src/Name/api/hooks/document/useCustomers.ts
Labels: Team Piwakawaka, feature: usability, area: tables

#9326 9285 remove old os tables part 3 edit modal
  client/packages/common/src/hooks/useFeatureFlags/useFeatureFlags.ts
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/ui/components/inputs/Autocomplete/Autocomplete.tsx
  client/packages/common/src/ui/layout/tables/components/Cells/CheckCell/index.ts
  client/packages/common/src/ui/layout/tables/components/Cells/CurrencyCell.tsx
  client/packages/common/src/ui/layout/tables/components/Cells/LocationCell.tsx
  client/packages/common/src/ui/layout/tables/components/Cells/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/components/CheckCell.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/components/CurrencyValueCell.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/components/NumberInputCell.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/components/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useMaterialTableColumns.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useSimpleMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useTableDisplayOptions.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/Allocation.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/OutboundLineEditTable.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/OutboundLineEdit/columns.tsx
  client/packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  client/packages/invoices/src/OutboundShipment/ListView/Toolbar.tsx
  client/packages/system/src/Stock/Components/VVMStatusSearchInput/VVMStatusSearchInput.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9335 8425 Invisible donors disappear from stock lines
  client/packages/system/src/Name/Components/DonorSearchInput/DonorSearchInput.tsx
Labels: Team Ruru 🦉, area: stock

#9332 8728 Sort by "Approved packs" in internal order
  client/packages/requisitions/src/RequestRequisition/DetailView/columns.tsx
  client/packages/requisitions/src/ResponseRequisition/DetailView/columns.ts
Labels: enhancement, Priority: Should Have, Team Ruru 🦉, feature: R&R, area: internal order, area: remote authorisation

#9317 9305 add expected delivery date to purchase order toolbar
  client/packages/common/src/intl/locales/en/common.json
  client/packages/purchasing/src/purchase_order/DetailView/Toolbar.tsx
  client/packages/purchasing/src/utils.ts
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9347 #9181 Additional table style tweaks
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/usePaginatedMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useTableDisplayOptions.tsx
Labels: Team Piwakawaka, feature: usability, area: tables

#9348 #9340 Tables -- Don't show "No results" when refetching
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useTableDisplayOptions.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  client/packages/invoices/src/OutboundShipment/ListView/ListView.tsx
  client/packages/invoices/src/OutboundShipment/api/hooks/document/useOutbounds.ts
Labels: Team Piwakawaka, feature: usability, area: tables

#9354 9225 Document Upload Button
  client/packages/purchasing/src/purchase_order/DetailView/AppBarButtons/AddButton.tsx
  client/packages/purchasing/src/purchase_order/DetailView/AppBarButtons/AppBarButtons.tsx
  client/packages/purchasing/src/purchase_order/DetailView/DetailView.tsx
  client/packages/purchasing/src/purchase_order/DetailView/Tabs/Documents.tsx
  client/packages/purchasing/src/purchase_order/DetailView/Tabs/index.ts
Labels: enhancement, Priority: Nice to Have, Team Ruru 🦉, Purchase Orders

#9339 9226 Purchase order steps being logged and translated
  client/packages/common/src/intl/locales/en/common.json
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEditModal.tsx
  server/graphql/types/src/types/activity_log.rs
  server/repository/src/db_diesel/activity_log_row.rs
  server/repository/src/migrations/v2_12_00/add_purchase_order_status_logs_to_activity_log_type_enum.rs
  server/repository/src/migrations/v2_12_00/mod.rs
  server/service/src/purchase_order/update/mod.rs
  server/service/src/purchase_order/update/test.rs
  server/service/src/purchase_order_line/update/mod.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9393 9389 custom bg color
  server/service/src/report/convert_to_excel.rs
  standard_reports/README.md
Labels: enhancement, Team Piwakawaka, feature: reports

#9383 Tables -- Add filter to VVM status
  client/packages/common/src/ui/layout/tables/material-react-table/useBaseMaterialTable.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useSimpleMaterialTable.tsx
  client/packages/invoices/src/OutboundShipment/DetailView/columns.ts
Labels: Team Piwakawaka

#9395 9381 not possible to enter decimals in pricing fields in stock line
  client/packages/common/src/ui/components/inputs/CurrencyInput/CurrencyInput.tsx
  client/packages/common/src/utils/quantities/quantities.test.ts
  client/packages/system/src/Stock/Components/StockLineForm.tsx
Labels: Team Ruru 🦉, Severity: High, area: stock

#9352 9302 align dashboard numbers
  client/packages/common/src/hooks/useFeatureFlags/useFeatureFlags.ts
  client/packages/invoices/src/InboundShipment/DetailView/DetailView.tsx
  client/packages/system/src/Item/api/hooks/useItems.ts
  server/repository/src/db_diesel/stock_on_hand.rs
  server/service/src/dashboard/item_count.rs
  server/service/src/item/item.rs
Labels: Team Piwakawaka

#9401 9083 When store preference "Set pack to one" is active, the "shipped pack size" of a manual inbound shipment is also set to 1 and the conversion is changing the shipped packs to match the Received packs
  server/service/src/invoice_line/stock_in_line/generate.rs
Labels: question, Team Ruru 🦉, Severity: High, area: inbound shipment

#9343 9308 purchase order totals should be in foreign currency not local
  client/packages/common/src/intl/locales/en/common.json
  client/packages/common/src/types/schema.ts
  client/packages/purchasing/src/common/Inputs.tsx
  client/packages/purchasing/src/purchase_order/DetailView/ImportLines/LineImportModal.tsx
  client/packages/purchasing/src/purchase_order/DetailView/ImportLines/UploadTab.tsx
  client/packages/purchasing/src/purchase_order/DetailView/ImportLines/utils.test.ts
  client/packages/purchasing/src/purchase_order/DetailView/ImportLines/utils.ts
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEdit.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/utils.ts
  client/packages/purchasing/src/purchase_order/DetailView/SidePanel/PricingSection.tsx
  client/packages/purchasing/src/purchase_order/DetailView/Tabs/ContentArea.tsx
  client/packages/purchasing/src/purchase_order/DetailView/Toolbar.tsx
  client/packages/purchasing/src/purchase_order/DetailView/columns.ts
  client/packages/purchasing/src/purchase_order/DetailView/utils.ts
  client/packages/purchasing/src/purchase_order/api/hooks/usePurchaseOrderLine.ts
  client/packages/purchasing/src/purchase_order/api/operations.generated.ts
  client/packages/purchasing/src/purchase_order/api/operations.graphql
  server/graphql/purchase_order_line/src/mutations/insert.rs
  server/graphql/purchase_order_line/src/mutations/update.rs
  server/graphql/types/src/types/purchase_order_line.rs
  server/repository/src/db_diesel/purchase_order_line_row.rs
  server/repository/src/migrations/v2_12_00/mod.rs
  server/repository/src/migrations/v2_12_00/rename_purchase_order_line_price_per_unit_to_per_pack.rs
  server/repository/src/migrations/views/purchase_order_stats.rs
  server/service/src/goods_received/create_goods_received_shipment/generate.rs
  server/service/src/purchase_order/generate.rs
  server/service/src/purchase_order_line/insert/generate.rs
  server/service/src/purchase_order_line/insert/mod.rs
  server/service/src/purchase_order_line/update/generate.rs
  server/service/src/purchase_order_line/update/mod.rs
  server/service/src/sync/test/test_data/purchase_order.rs
  server/service/src/sync/test/test_data/purchase_order_line.rs
  server/service/src/sync/translations/purchase_order_line.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9404 9312 Should still be able to click purchase order lines when finalised
  client/packages/purchasing/src/purchase_order/DetailView/DetailView.tsx
  client/packages/purchasing/src/purchase_order/DetailView/Footer/Footer.tsx
  client/packages/purchasing/src/purchase_order/DetailView/LineEdit/PurchaseOrderLineEdit.tsx
  server/graphql/core/src/loader/units_in_other_purchase_orders.rs
Labels: enhancement, Team Ruru 🦉, Purchase Orders

#9418 9116 Internal Order - Indicators display
  client/packages/requisitions/src/RequestRequisition/DetailView/IndicatorEdit/IndicatorEditPage.tsx
  client/packages/requisitions/src/ResponseRequisition/DetailView/IndicatorEdit/IndicatorEditPage.tsx
  client/packages/requisitions/src/common/ListIndicators.tsx
Labels: Team Ruru 🦉, Severity: Low, area: internal order

#9423 9172 Jenkins builds intermittently don't include frontend
  build/windows/omsupply-android.bat
  build/windows/omsupply-build.bat
  build/windows/omsupply-electron.bat
  build/windows/omsupply-prepare.bat
Labels: Team Ruru 🦉, Severity: High, Devops

#9412 9439 dont allow negative or zero packs when importing
  client/packages/purchasing/src/purchase_order/DetailView/ImportLines/UploadTab.tsx
Labels: Team Ruru 🦉, Purchase Orders

#9334 9298 Fix negative balance for RnR Forms
  server/service/src/ledger_fix/fixes/delete_unused_orphan_stock_lines.rs
  server/service/src/rnr_form/generate_rnr_form_lines.rs
Labels: feature: R&R, Team Whio

#9431 Increase json parse limit for OMS central server sync requests
  server/server/src/lib.rs
Labels: Build Tested: Dev, Team Whio

#9359 9295 discrepancy view including many more lines (stock lines with 0 stock) but not fixing them
  server/graphql/stocktake/src/stocktake_queries.rs
  server/graphql/stocktake_line/src/stocktake_line_queries.rs
  server/repository/src/db_diesel/item_row.rs
  server/repository/src/db_diesel/stocktake.rs
  server/repository/src/db_diesel/stocktake_line.rs
  server/repository/src/migrations/views/mod.rs
  server/service/README.md
  server/service/src/activity_log.rs
  server/service/src/ledger_fix/fixes/adjust_all_to_match_available.rs
  server/service/src/ledger_fix/fixes/inventory_adjustment_to_balance.rs
  server/service/src/ledger_fix/fixes/mod.rs
  server/service/src/ledger_fix/ledger_fix_driver.rs
  server/service/src/processors/mod.rs
Labels: Team Whio

#9387 9369 stocktake table
  client/packages/common/src/ui/layout/tables/columns/DifferenceColumn.tsx
  client/packages/common/src/ui/layout/tables/columns/index.ts
  client/packages/common/src/ui/layout/tables/context/hooks/index.ts
  client/packages/common/src/ui/layout/tables/context/hooks/useRowHighlight.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/components/UnitsAndDosesCell.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/components/index.ts
  client/packages/common/src/ui/layout/tables/material-react-table/types.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useGetColumnDefDefaults.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/useNonPaginatedMaterialTable.ts
  client/packages/common/src/ui/layout/tables/material-react-table/useTableDisplayOptions.tsx
  client/packages/common/src/ui/layout/tables/material-react-table/utils.test.ts
  client/packages/common/src/ui/layout/tables/material-react-table/utils.ts
  client/packages/inventory/src/Stocktake/DetailView/ChangeLocationModal.tsx
  client/packages/inventory/src/Stocktake/DetailView/ContentArea/ContentArea.tsx
  client/packages/inventory/src/Stocktake/DetailView/ContentArea/columns.tsx
  client/packages/inventory/src/Stocktake/DetailView/ContentArea/index.ts
  client/packages/inventory/src/Stocktake/DetailView/DetailView.tsx
  client/packages/inventory/src/Stocktake/DetailView/Footer/Footer.tsx
  client/packages/inventory/src/Stocktake/DetailView/ReduceLinesToZeroModal.tsx
  client/packages/inventory/src/Stocktake/DetailView/Toolbar.tsx
  client/packages/inventory/src/Stocktake/DetailView/columns.tsx
  client/packages/inventory/src/Stocktake/DetailView/index.ts
  client/packages/inventory/src/Stocktake/DetailView/modal/StocktakeLineEdit/StocktakeLineEdit.tsx
  client/packages/inventory/src/Stocktake/api/api.ts
  client/packages/inventory/src/Stocktake/api/hooks/index.ts
  client/packages/inventory/src/Stocktake/api/hooks/line/useChangeLinesLocation.ts
  client/packages/inventory/src/Stocktake/api/hooks/line/useStocktakeDeleteSelectedLines.ts
  client/packages/inventory/src/Stocktake/api/hooks/line/useStocktakeLines.ts
  client/packages/inventory/src/Stocktake/api/hooks/line/useZeroStocktakeLines.ts
  client/packages/inventory/src/Stocktake/api/hooks/utils/index.ts
  client/packages/inventory/src/Stocktake/api/hooks/utils/useSelectedRows.ts
  client/packages/invoices/src/OutboundShipment/DetailView/DetailView.tsx
  project-words.txt
Labels: Team Piwakawaka, feature: usability, area: tables

#9385 9367 ledger views use item link
  server/repository/src/db_diesel/item_ledger.rs
  server/repository/src/db_diesel/stock_movement.rs
  server/repository/src/migrations/views/mod.rs
  server/service/src/ledger_fix/ledger_fix_driver.rs
Labels: bug, Severity: High, area: ledger, Team Whio
